[Unit]
Description=Check Huangque TLS certificate renewal daily

[Timer]
OnCalendar=*-*-* 03:17:00
RandomizedDelaySec=30min
Persistent=true
Unit=huangque-cert-renew.service

[Install]
WantedBy=timers.target
