{
  "openapi": "3.0.3",
  "info": {
    "title": "?? AI ? ??????",
    "version": "2.0.0",
    "description": "????????????(??/??/??/??/??/????/??/??)?\n\n**??**:?????????,?? `Authorization: Bearer <token>`(???)???? Authorize ? token ?? Try it?\n\n**????**:??/??/??/??/??/?? ??? `job_id`,??? `GET /api/gen/job/{id}` ????\n\n**??**:?????????(??????),????????;?????? 402?\n\n?? TikHub ?????? spec(????)?"
  },
  "servers": [{ "url": "https://huangquechuanmei.com", "description": "??(nginx ?????????)" }],
  "tags": [
    { "name": "??", "description": "?? / ???? / ??(auth 8095)" },
    { "name": "??", "description": "gpt-image + nano banana(content 8096 / imggen 8101)" },
    { "name": "??", "description": "AI ?? / ????(content 8096)" },
    { "name": "????", "description": "??????????????(content 8096)" },
    { "name": "????", "description": "TTS ?? + ??????(content 8096)" },
    { "name": "??", "description": "HeyGen ?????(content 8096)" },
    { "name": "????", "description": "???? + ?????(leadgen 8100)" },
    { "name": "??", "description": "???????(dl 8097)" },
    { "name": "??/??/??", "description": "????????????????" },
    { "name": "??", "description": "???????" }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer", "description": "?? /api/auth/login ??? token" }
    },
    "parameters": {
      "XCanvasBoardId": {
        "name": "X-Canvas-Board-Id",
        "in": "header",
        "required": false,
        "description": "Optional for a local short-drama project. Required for a shared short-drama project and must equal its board_id; owner/editor/viewer may read and owner/editor may write.",
        "schema": { "type": "string", "minLength": 1, "maxLength": 128 }
      },
      "XCanvasBoardIdRequired": {
        "name": "X-Canvas-Board-Id",
        "in": "header",
        "required": true,
        "description": "Required collaboration board scope. It must resolve to the board that owns the digital-presenter project.",
        "schema": { "type": "string", "minLength": 1, "maxLength": 128 }
      },
      "IdempotencyKeyRequired": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": true,
        "description": "Stable key for one paid generation submission. Reusing it with an identical normalized request replays the result; reusing it with different content returns 409.",
        "schema": { "type": "string", "pattern": "^[A-Za-z0-9._:-]{8,128}$" }
      }
    },
    "schemas": {
      "JobAccepted": { "type": "object", "description": "??????", "properties": { "job_id": { "type": "integer" }, "cost": { "type": "integer", "description": "??????" }, "points_left": { "type": "integer" } } },
      "JobStatus": { "type": "object", "properties": { "id": { "type": "integer" }, "kind": { "type": "string" }, "status": { "type": "string", "enum": ["pending", "running", "done", "error"] }, "result": { "description": "??????mode=short_drama ? copy job ?? ShortDramaPlanningResult?????????? mode ????????", "oneOf": [{ "$ref": "#/components/schemas/ShortDramaPlanningResult" }, { "type": "object", "not": { "required": ["mode"], "properties": { "mode": { "enum": ["short_drama"] } } } }] }, "error": { "type": "string" }, "created_at": { "type": "integer" }, "updated_at": { "type": "integer" } } },
      "User": { "type": "object", "properties": { "username": { "type": "string" }, "name": { "type": "string" }, "points": { "type": "integer" }, "role": { "type": "string" }, "must_change": { "type": "boolean" } } },
      "ShortDramaDialogueLine": {
        "type": "object", "required": ["character_key", "text"], "additionalProperties": false,
        "properties": {
          "id": { "type": "string", "maxLength": 80, "readOnly": true },
          "client_token": { "type": "string", "maxLength": 120, "writeOnly": true },
          "character_key": { "type": "string", "maxLength": 80 },
          "speaker_name_snapshot": { "type": "string", "maxLength": 80, "readOnly": true },
          "text": { "type": "string", "maxLength": 4000 },
          "subtitle_enabled": { "type": "boolean", "default": true },
          "voice_overrides": { "type": "object", "additionalProperties": true }
        }
      },
      "ShortDramaCharacter": {
        "description": "cinematic_avatar ? avatar_id ???????????????????????????ai_character ??? avatar_id?",
        "type": "object", "required": ["character_key", "name", "identity_text", "personality", "source_type", "appearance_prompt", "wardrobe_prompt", "voice_settings"],
        "oneOf": [
          { "required": ["source_type"], "properties": { "source_type": { "enum": ["ai_character"] }, "avatar_id": { "type": "string", "nullable": true } } },
          { "required": ["source_type", "avatar_id"], "properties": { "source_type": { "enum": ["cinematic_avatar"] }, "avatar_id": { "type": "string", "minLength": 1 } } }
        ],
        "properties": {
          "id": { "type": "string", "readOnly": true }, "project_id": { "type": "string", "readOnly": true },
          "character_key": { "type": "string", "maxLength": 80 }, "name": { "type": "string", "maxLength": 80 },
          "identity_text": { "type": "string", "maxLength": 2000 }, "personality": { "type": "string", "maxLength": 2000 },
          "source_type": { "type": "string", "enum": ["cinematic_avatar", "ai_character"] }, "avatar_id": { "type": "string", "nullable": true },
          "appearance_prompt": { "type": "string", "maxLength": 4000 }, "wardrobe_prompt": { "type": "string", "maxLength": 4000 },
          "voice_key": { "type": "string", "nullable": true, "maxLength": 80 }, "voice_settings": { "type": "object", "additionalProperties": true },
          "sort_order": { "type": "integer", "readOnly": true }
        }
      },
      "ShortDramaCharacterContractItem": {
        "type": "object",
        "description": "role_type?gender?age?identity_text?relationships ???????? identity_text??????? 2,000 ????",
        "x-derivedIdentityMaxLength": 2000,
        "required": ["character_key", "name", "role_type", "reference_views"],
        "additionalProperties": false,
        "properties": {
          "character_key": { "type": "string", "pattern": "^[a-z][a-z0-9_]{0,63}$" },
          "name": { "type": "string", "minLength": 1, "maxLength": 80 },
          "role_type": { "type": "string", "enum": ["main", "support", "crowd"] },
          "gender": { "type": "string", "maxLength": 500 },
          "identity_text": { "type": "string", "maxLength": 500 },
          "relationships": { "type": "string", "maxLength": 500 },
          "personality": { "type": "string", "maxLength": 500 },
          "age": { "type": "string", "maxLength": 500 },
          "face_shape": { "type": "string", "maxLength": 500 },
          "hairstyle": { "type": "string", "maxLength": 500 },
          "hair_color": { "type": "string", "maxLength": 500 },
          "height_body": { "type": "string", "maxLength": 500 },
          "fixed_clothing": { "type": "string", "maxLength": 500 },
          "fixed_colors": { "type": "string", "maxLength": 500 },
          "accessories": { "type": "string", "maxLength": 500 },
          "appearance_prompt": { "type": "string", "maxLength": 500 },
          "wardrobe_prompt": { "type": "string", "maxLength": 500 },
          "reference_views": { "type": "array", "enum": [["front_full", "side_full", "front_half"]] }
        }
      },
      "ShortDramaCharacterContract": {
        "type": "array", "maxItems": 20,
        "items": { "$ref": "#/components/schemas/ShortDramaCharacterContractItem" }
      },
      "ShortDramaImportRequest": {
        "type": "object",
        "required": ["title", "synopsis", "ratio", "target_duration", "shot_count", "visual_style", "source_text", "filename", "import_mode"],
        "additionalProperties": false,
        "properties": {
          "title": { "type": "string", "minLength": 1, "maxLength": 80 },
          "synopsis": { "type": "string", "minLength": 8, "maxLength": 4000 },
          "ratio": { "type": "string", "enum": ["9:16", "16:9"] },
          "target_duration": { "type": "integer", "enum": [30, 45, 60] },
          "shot_count": { "type": "integer", "minimum": 6, "maximum": 10 },
          "visual_style": { "type": "string", "maxLength": 80 },
          "source_text": { "type": "string", "minLength": 8, "maxLength": 50000 },
          "filename": { "type": "string", "maxLength": 255 },
          "import_mode": { "type": "string", "enum": ["faithful", "optimize"] },
          "content_type": { "type": "string", "enum": ["live_action"] },
          "character_contract": { "$ref": "#/components/schemas/ShortDramaCharacterContract" }
        }
      },
      "ShortDramaScriptVersion": {
        "type": "object", "required": ["title", "logline", "hook", "conflict_text", "turn_text", "ending", "dialogue_lines"],
        "properties": {
          "id": { "type": "string", "readOnly": true }, "project_id": { "type": "string", "readOnly": true }, "version": { "type": "integer", "readOnly": true, "minimum": 1 },
          "title": { "type": "string", "maxLength": 80 }, "logline": { "type": "string", "maxLength": 4000 }, "hook": { "type": "string", "maxLength": 4000 },
          "conflict_text": { "type": "string", "maxLength": 4000 }, "turn_text": { "type": "string", "maxLength": 4000 }, "ending": { "type": "string", "maxLength": 4000 },
          "dialogue_lines": { "type": "array", "maxItems": 120, "items": { "$ref": "#/components/schemas/ShortDramaDialogueLine" } }, "created_at": { "type": "integer", "readOnly": true }
        }
      },
      "ShortDramaShot": {
        "type": "object", "required": ["shot_key", "duration", "scene_description", "camera_description", "character_keys", "dialogue_line_ids", "image_prompt", "video_prompt"],
        "properties": {
          "id": { "type": "string", "readOnly": true }, "project_id": { "type": "string", "readOnly": true }, "script_version": { "type": "integer", "readOnly": true },
          "shot_key": { "type": "string", "maxLength": 80 }, "sort_order": { "type": "integer", "readOnly": true }, "duration": { "type": "integer", "enum": [5, 10] },
          "scene_description": { "type": "string", "maxLength": 4000 }, "camera_description": { "type": "string", "maxLength": 4000 },
          "character_keys": { "type": "array", "uniqueItems": true, "items": { "type": "string" } }, "dialogue_line_ids": { "type": "array", "uniqueItems": true, "items": { "type": "string" } },
          "image_prompt": { "type": "string", "maxLength": 8000 }, "video_prompt": { "type": "string", "maxLength": 8000 }
        }
      },
      "ShortDramaProject": {
        "type": "object", "required": ["id", "board_id", "title", "synopsis", "ratio", "target_duration", "shot_count", "visual_style", "target_platform", "point_budget", "spent_points", "stage", "revision", "characters", "script_versions", "dialogue_token_receipts", "shots"],
        "properties": {
          "id": { "type": "string", "format": "uuid" }, "board_id": { "type": "string", "nullable": true, "readOnly": true, "description": "null for a local project; otherwise the collaboration board that scopes access." }, "title": { "type": "string", "maxLength": 80 }, "synopsis": { "type": "string", "minLength": 8, "maxLength": 4000 },
          "ratio": { "type": "string", "enum": ["9:16", "16:9"] }, "target_duration": { "type": "integer", "enum": [30, 45, 60] }, "shot_count": { "type": "integer", "minimum": 6, "maximum": 10 },
          "visual_style": { "type": "string", "maxLength": 80, "default": "????" }, "target_platform": { "type": "string", "maxLength": 80, "default": "??" },
          "point_budget": { "type": "integer", "minimum": 0 }, "spent_points": { "type": "integer", "minimum": 0, "readOnly": true, "description": "????????????????????????????????????refunded=1 ????" },
          "stage": { "type": "string", "readOnly": true, "enum": ["draft", "characters_review", "script_review", "storyboard_review", "stills_review", "voice_review", "video_review", "assembly_review", "completed"] },
          "revision": { "type": "integer", "readOnly": true, "minimum": 1 }, "created_at": { "type": "integer", "readOnly": true }, "updated_at": { "type": "integer", "readOnly": true },
          "characters": { "type": "array", "maxItems": 20, "items": { "$ref": "#/components/schemas/ShortDramaCharacter" } },
          "script_versions": { "type": "array", "maxItems": 20, "items": { "$ref": "#/components/schemas/ShortDramaScriptVersion" } },
          "dialogue_token_receipts": { "type": "object", "readOnly": true, "description": "Active project-scoped client token to server line ID receipts for retry recovery.", "additionalProperties": { "type": "string", "maxLength": 80 } },
          "shots": { "type": "array", "items": { "$ref": "#/components/schemas/ShortDramaShot" } }
        }
      },
      "ShortDramaProjectSummary": {
        "type": "object", "description": "????????????????????????????",
        "required": ["id", "board_id", "title", "synopsis", "ratio", "target_duration", "shot_count", "visual_style", "target_platform", "point_budget", "spent_points", "stage", "revision", "created_at", "updated_at"],
        "properties": {
          "id": { "type": "string", "format": "uuid" }, "board_id": { "type": "string", "nullable": true, "readOnly": true }, "title": { "type": "string" }, "synopsis": { "type": "string" },
          "ratio": { "type": "string", "enum": ["9:16", "16:9"] }, "target_duration": { "type": "integer", "enum": [30, 45, 60] }, "shot_count": { "type": "integer", "minimum": 6, "maximum": 10 },
          "visual_style": { "type": "string" }, "target_platform": { "type": "string" }, "point_budget": { "type": "integer", "minimum": 0 }, "spent_points": { "type": "integer", "minimum": 0 },
          "stage": { "type": "string", "enum": ["draft", "characters_review", "script_review", "storyboard_review", "stills_review", "voice_review", "video_review", "assembly_review", "completed"] }, "revision": { "type": "integer", "minimum": 1 },
          "created_at": { "type": "integer" }, "updated_at": { "type": "integer" }
        }
      },
      "ShortDramaPlanningRequest": {
        "type": "object", "required": ["format", "project_id", "project_revision", "prompt", "dur", "ratio", "shot_count"], "additionalProperties": false,
        "properties": {
          "project_id": { "type": "string", "format": "uuid" }, "project_revision": { "type": "integer", "minimum": 1 },
          "format": { "type": "string", "enum": ["short_drama"] }, "prompt": { "type": "string", "minLength": 1, "maxLength": 4000 },
          "dur": { "type": "string", "enum": ["30s", "45s", "60s"] }, "ratio": { "type": "string", "enum": ["9:16", "16:9"] },
          "shot_count": { "type": "integer", "minimum": 6, "maximum": 10 }, "style": { "type": "string", "maxLength": 80 }, "platform": { "type": "string", "maxLength": 80 }
        }
      },
      "ShortDramaPlanningResult": {
        "type": "object", "required": ["type", "mode", "project_id", "project_revision", "settings", "plan", "prompt", "dur", "ratio", "shot_count"], "additionalProperties": false,
        "properties": {
          "type": { "type": "string", "enum": ["copy"] }, "mode": { "type": "string", "enum": ["short_drama"] },
          "project_id": { "type": "string", "format": "uuid" }, "project_revision": { "type": "integer", "minimum": 1 },
          "settings": { "type": "object", "required": ["ratio", "target_duration", "shot_count"], "additionalProperties": false, "properties": { "ratio": { "type": "string", "enum": ["9:16", "16:9"] }, "target_duration": { "type": "integer", "enum": [30, 45, 60] }, "shot_count": { "type": "integer", "minimum": 6, "maximum": 10 } } },
          "prompt": { "type": "string" }, "dur": { "type": "string", "enum": ["30s", "45s", "60s"] }, "ratio": { "type": "string", "enum": ["9:16", "16:9"] },
          "shot_count": { "type": "integer", "minimum": 6, "maximum": 10 },
          "plan": {
            "type": "object", "required": ["title", "logline", "characters", "script", "shots"], "additionalProperties": false,
            "properties": {
              "title": { "type": "string" }, "logline": { "type": "string" },
              "characters": { "type": "array", "maxItems": 20, "items": {
                "type": "object", "required": ["key", "name", "identity", "identity_text", "personality", "appearance_prompt", "wardrobe_prompt", "source_type", "voice_key", "voice_settings"], "additionalProperties": false,
                "properties": {
                  "key": { "type": "string" }, "name": { "type": "string" }, "identity": { "type": "string" }, "identity_text": { "type": "string" }, "personality": { "type": "string" },
                  "appearance_prompt": { "type": "string" }, "wardrobe_prompt": { "type": "string" }, "source_type": { "type": "string", "enum": ["cinematic_avatar", "ai_character"] },
                  "voice_key": { "type": "string", "nullable": true }, "voice_settings": { "type": "object", "additionalProperties": true }
                }
              } },
              "script": {
                "type": "object", "required": ["title", "logline", "hook", "conflict", "conflict_text", "turn", "turn_text", "ending", "dialogue_lines"], "additionalProperties": false,
                "properties": {
                  "title": { "type": "string" }, "logline": { "type": "string" }, "hook": { "type": "string" }, "conflict": { "type": "string" },
                  "conflict_text": { "type": "string" }, "turn": { "type": "string" }, "turn_text": { "type": "string" }, "ending": { "type": "string" },
                  "dialogue_lines": { "type": "array", "maxItems": 120, "items": { "$ref": "#/components/schemas/ShortDramaDialogueLine" } }
                }
              },
              "shots": { "type": "array", "minItems": 6, "maxItems": 10, "items": {
                "type": "object", "required": ["key", "duration", "scene_description", "camera_description", "character_keys", "dialogue_line_ids", "image_prompt", "video_prompt"], "additionalProperties": false,
                "properties": {
                  "key": { "type": "string" }, "duration": { "type": "integer", "enum": [5, 10] }, "scene_description": { "type": "string" }, "camera_description": { "type": "string" },
                  "character_keys": { "type": "array", "uniqueItems": true, "items": { "type": "string" } }, "dialogue_line_ids": { "type": "array", "uniqueItems": true, "items": { "type": "string" } },
                  "image_prompt": { "type": "string" }, "video_prompt": { "type": "string" }
                }
              } }
            }
          }
        }
      },
      "ShortDramaStillRequest": {
        "type": "object",
        "required": ["project_id", "revision", "shot_id", "prompt", "mode", "count"],
        "additionalProperties": false,
        "properties": {
          "project_id": { "type": "string", "minLength": 1 },
          "revision": { "type": "integer", "minimum": 1 },
          "shot_id": { "type": "string", "minLength": 1 },
          "prompt": { "type": "string", "description": "?????????????? image_prompt ???????????????????" },
          "mode": { "type": "string", "enum": ["single", "retry", "batch"] },
          "count": { "type": "integer", "enum": [2], "description": "The server accepts exactly two candidates per request." }
        }
      },
      "ShortDramaStillSubmission": {
        "type": "object",
        "required": ["project_id", "revision", "shot_id", "prompt", "mode", "count", "quote_token"],
        "additionalProperties": false,
        "properties": {
          "project_id": { "type": "string", "minLength": 1 },
          "revision": { "type": "integer", "minimum": 1 },
          "shot_id": { "type": "string", "minLength": 1 },
          "prompt": { "type": "string" },
          "mode": { "type": "string", "enum": ["single", "retry", "batch"] },
          "count": { "type": "integer", "enum": [2] },
          "quote_token": { "type": "string", "pattern": "^[0-9a-f]{32}$" }
        }
      },
      "ShortDramaStillQuote": {
        "type": "object",
        "required": ["cost", "count", "kind", "quote_token", "expires_at", "shot_id", "base_prompt", "user_direction", "compiled_prompt", "source_prompt_hash"],
        "additionalProperties": false,
        "properties": {
          "cost": { "type": "integer", "minimum": 0 },
          "count": { "type": "integer", "enum": [2] },
          "kind": { "type": "string", "enum": ["still"] },
          "quote_token": { "type": "string", "pattern": "^[0-9a-f]{32}$" },
          "expires_at": { "type": "integer", "description": "Unix timestamp; quotes expire after 300 seconds." },
          "shot_id": { "type": "string" },
          "base_prompt": { "type": "string", "description": "?????????????????" },
          "user_direction": { "type": "string", "description": "????????????" },
          "compiled_prompt": { "type": "string", "description": "?????????????????????????????" },
          "source_prompt_hash": { "type": "string", "pattern": "^[a-f0-9]{64}$" },
          "snapshot_id": { "type": "string", "nullable": true, "description": "??????????????????????" },
          "package_hash": { "type": "string", "nullable": true, "pattern": "^[a-f0-9]{64}$" },
          "graph_revision": { "type": "integer", "nullable": true, "minimum": 1 }
        }
      },
      "ShortDramaAssetSelectionRequest": {
        "type": "object",
        "required": ["project_id", "revision", "asset_id", "version", "lock"],
        "additionalProperties": false,
        "properties": {
          "project_id": { "type": "string", "minLength": 1 },
          "revision": { "type": "integer", "minimum": 1 },
          "asset_id": { "type": "string", "minLength": 1 },
          "version": { "type": "integer", "minimum": 1 },
          "lock": { "type": "boolean" }
        }
      },
      "ShortDramaProductionStageRequest": {
        "type": "object",
        "required": ["project_id", "revision", "stage"],
        "additionalProperties": false,
        "properties": {
          "project_id": { "type": "string", "minLength": 1 },
          "revision": { "type": "integer", "minimum": 1 },
          "stage": { "type": "string", "enum": ["stills_review", "video_review"] }
        }
      },
      "ShortDramaStillJobAccepted": {
        "type": "object",
        "required": ["job_id", "cost", "points_left", "project_id", "shot_id"],
        "additionalProperties": false,
        "properties": {
          "job_id": { "type": "integer", "minimum": 1 },
          "cost": { "type": "integer", "minimum": 0 },
          "points_left": { "type": "integer", "minimum": 0 },
          "project_id": { "type": "string" },
          "shot_id": { "type": "string" }
        }
      },
      "ShortDramaProductionWorkspace": {
        "type": "object",
        "required": ["project_id", "revision", "stage", "ratio", "point_budget", "spent_points", "reserved_points", "handoff_blocked", "handoff_blockers", "shots"],
        "additionalProperties": false,
        "properties": {
          "project_id": { "type": "string" },
          "revision": { "type": "integer", "minimum": 1 },
          "stage": { "type": "string", "enum": ["stills_review", "voice_review", "video_review", "assembly_review", "completed"] },
          "ratio": { "type": "string", "enum": ["9:16", "16:9"] },
          "point_budget": { "type": "integer", "minimum": 0 },
          "spent_points": { "type": "integer", "minimum": 0 },
          "reserved_points": { "type": "integer", "minimum": 0 },
          "handoff_blocked": { "type": "boolean" },
          "handoff_blockers": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["code", "message"],
              "additionalProperties": false,
              "properties": {
                "code": { "type": "string", "enum": ["missing_locked_still", "active_job", "refund_pending", "charge_attempt_pending", "ledger_inconsistent"] },
                "shot_id": { "type": "string" },
                "message": { "type": "string" }
              }
            }
          },
          "shots": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["id", "shot_key", "sort_order", "duration", "image_prompt", "references", "still"],
              "additionalProperties": false,
              "properties": {
                "id": { "type": "string" },
                "shot_key": { "type": "string" },
                "sort_order": { "type": "integer", "minimum": 0 },
                "duration": { "type": "integer", "enum": [5, 10] },
                "image_prompt": { "type": "string" },
                "references": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "type": "object",
                        "required": ["type", "id", "name", "source_type", "source_id"],
                        "additionalProperties": false,
                        "properties": {
                          "type": { "type": "string", "enum": ["character"] },
                          "id": { "type": "string" },
                          "name": { "type": "string" },
                          "source_type": { "type": "string", "enum": ["cinematic_avatar", "ai_character"] },
                          "source_id": { "type": "string" }
                        }
                      },
                      {
                        "type": "object",
                        "required": ["type", "id", "name", "url", "ratio"],
                        "additionalProperties": false,
                        "properties": {
                          "type": { "type": "string", "enum": ["continuity"] },
                          "id": { "type": "string" },
                          "name": { "type": "string" },
                          "url": { "type": "string", "format": "uri-reference" },
                          "ratio": { "type": "string", "enum": ["9:16", "16:9"] }
                        }
                      }
                    ]
                  }
                },
                "still": {
                  "type": "object",
                  "required": ["asset_id", "current_version", "locked", "versions", "job"],
                  "additionalProperties": false,
                  "properties": {
                    "asset_id": { "type": "string" },
                    "current_version": { "type": "integer", "minimum": 1, "nullable": true },
                    "locked": { "type": "boolean" },
                    "versions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": ["id", "version", "job_id", "url", "prompt", "ratio", "cost", "status", "created_at"],
                        "additionalProperties": false,
                        "properties": {
                          "id": { "type": "string" },
                          "version": { "type": "integer", "minimum": 1 },
                          "job_id": { "type": "integer", "minimum": 1 },
                          "url": { "type": "string", "format": "uri-reference" },
                          "prompt": { "type": "string" },
                          "ratio": { "type": "string", "enum": ["9:16", "16:9"] },
                          "cost": { "type": "integer", "minimum": 0 },
                          "status": { "type": "string", "enum": ["done", "failed"] },
                          "created_at": { "type": "integer" }
                        }
                      }
                    },
                    "job": {
                      "type": "object",
                      "nullable": true,
                      "required": ["id", "job_id", "kind", "status", "quoted_cost", "error", "refunded", "refund_pending"],
                      "additionalProperties": false,
                      "properties": {
                        "id": { "type": "string" },
                        "job_id": { "type": "integer", "minimum": 1 },
                        "kind": { "type": "string", "enum": ["still"] },
                        "status": { "type": "string", "enum": ["pending", "running", "failed"] },
                        "quoted_cost": { "type": "integer", "minimum": 0 },
                        "error": { "type": "string" },
                        "refunded": { "type": "boolean" },
                        "refund_pending": { "type": "boolean" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ShortDramaAssemblyBlocker": {
        "type": "object",
        "required": ["code", "message"],
        "additionalProperties": false,
        "properties": {
          "code": { "type": "string", "enum": ["missing_locked_voice_shot", "missing_locked_video_shot", "missing_current_voice_version", "missing_current_video_version", "stale_voice_version", "stale_video_version", "missing_source_file", "source_file_untrusted", "ffprobe_unavailable", "media_probe_failed", "ratio_mismatch", "clip_duration_mismatch", "timeline_invalid", "audio_overlap", "subtitle_overlap", "project_duration_mismatch", "source_changed_during_probe", "missing_d1_media_plan", "bgm_asset_missing", "bgm_asset_forbidden", "bgm_source_untrusted", "bgm_probe_failed", "active_composition_job", "preview_missing", "final_missing", "active_lipsync_job", "lipsync_plan_missing", "lipsync_plan_invalid", "lipsync_dependency_changed", "lipsync_selection_changed", "lipsync_job_not_succeeded", "lipsync_billing_unsettled", "lipsync_source_hash_mismatch", "lipsync_manifest_invalid", "lipsync_manifest_mismatch"] },
          "message": { "type": "string" },
          "shot_id": { "type": "string" },
          "line_id": { "type": "string" }
        }
      },
      "ShortDramaAssemblyShot": {
        "type": "object",
        "required": ["id", "shot_key", "sort_order", "duration", "voice", "video", "ready", "blockers"],
        "additionalProperties": false,
        "properties": {
          "id": { "type": "string" },
          "shot_key": { "type": "string" },
          "sort_order": { "type": "integer", "minimum": 0 },
          "duration": { "type": "integer", "enum": [5, 10] },
          "voice": {
            "type": "object", "required": ["locked", "status", "timeline_revision", "lines"], "additionalProperties": false,
            "properties": {
              "locked": { "type": "boolean" },
              "status": { "type": "string", "enum": ["ready", "blocked"] },
              "timeline_revision": { "type": "integer", "minimum": 1, "nullable": true },
              "lines": { "type": "array", "items": { "type": "object" } }
            }
          },
          "video": {
            "type": "object", "required": ["confirmed", "status", "current_version", "video_revision", "source", "probe", "source_kind", "lipsync"], "additionalProperties": false,
            "properties": {
              "confirmed": { "type": "boolean" },
              "status": { "type": "string", "enum": ["ready", "blocked"] },
              "current_version": { "type": "integer", "minimum": 1, "nullable": true },
              "video_revision": { "type": "integer", "minimum": 1, "nullable": true },
              "source": { "type": "object", "nullable": true },
              "probe": { "type": "object", "nullable": true },
              "source_kind": { "type": "string", "enum": ["standard", "lipsync"] },
              "lipsync": { "type": "object", "nullable": true }
            }
          },
          "ready": { "type": "boolean" },
          "blockers": { "type": "array", "items": { "$ref": "#/components/schemas/ShortDramaAssemblyBlocker" } }
        }
      },
      "ShortDramaCompositionVersion": {
        "type": "object",
        "required": ["id", "kind", "version", "job_id", "input_hash", "config", "url", "cover_url", "duration_ms", "width", "height", "fps", "video_codec", "audio_codec", "status", "global_video_asset_id", "created_at"],
        "additionalProperties": false,
        "properties": {
          "id": { "type": "string" },
          "kind": { "type": "string", "enum": ["preview", "final"] },
          "version": { "type": "integer", "minimum": 1 },
          "job_id": { "type": "string" },
          "input_hash": { "type": "string" },
          "config": { "type": "object" },
          "plan_hash": { "type": "string" },
          "manifest_hash": { "type": "string" },
          "manifest": { "type": "object" },
          "url": { "type": "string", "format": "uri-reference" },
          "cover_url": { "type": "string", "format": "uri-reference" },
          "duration_ms": { "type": "integer", "minimum": 1, "nullable": true },
          "width": { "type": "integer", "minimum": 1, "nullable": true },
          "height": { "type": "integer", "minimum": 1, "nullable": true },
          "fps": { "type": "number", "exclusiveMinimum": true, "minimum": 0, "nullable": true },
          "video_codec": { "type": "string" },
          "audio_codec": { "type": "string" },
          "status": { "type": "string", "enum": ["rendering", "succeeded", "failed", "stale"] },
          "global_video_asset_id": { "type": "integer", "minimum": 1, "nullable": true },
          "asset_id": { "type": "string" },
          "created_by": { "type": "string" },
          "object_key": { "type": "string" },
          "cover_key": { "type": "string" },
          "sha256": { "type": "string" },
          "size": { "type": "integer", "minimum": 0, "nullable": true },
          "created_at": { "type": "integer" }
        }
      },
      "ShortDramaCompositionJob": {
        "type": "object",
        "nullable": true,
        "required": ["job_id", "kind", "status", "phase", "progress", "error_code", "error_message", "attempt_count", "created_at", "updated_at", "finished_at"],
        "additionalProperties": false,
        "properties": {
          "job_id": { "type": "string" },
          "kind": { "type": "string", "enum": ["preview", "final"] },
          "status": { "type": "string", "enum": ["queued", "running", "succeeded", "failed"] },
          "phase": { "type": "string" },
          "progress": { "type": "integer", "minimum": 0, "maximum": 100 },
          "error_code": { "type": "string" },
          "error_message": { "type": "string" },
          "attempt_count": { "type": "integer", "minimum": 0 },
          "created_at": { "type": "integer" },
          "updated_at": { "type": "integer" },
          "finished_at": { "type": "integer", "nullable": true }
        }
      },
      "ShortDramaAssemblyWorkspace": {
        "type": "object",
        "required": ["project_id", "revision", "stage", "ratio", "target_duration", "assembly_revision", "config", "current_preview_version", "current_final_version", "preview_locked", "implementation_status", "rendering_enabled", "planner_version", "input_hash", "media_plan", "audio_subtitle", "master_audio", "lipsync_assembly", "shots", "versions", "active_job", "latest_job", "readiness", "actions", "blockers", "completion"],
        "additionalProperties": false,
        "properties": {
          "project_id": { "type": "string" },
          "revision": { "type": "integer", "minimum": 1 },
          "stage": { "type": "string", "enum": ["assembly_review", "completed"] },
          "ratio": { "type": "string", "enum": ["9:16", "16:9"] },
          "target_duration": { "type": "integer", "enum": [30, 45, 60] },
          "assembly_revision": { "type": "integer", "minimum": 1 },
          "config": {
            "type": "object", "required": ["subtitle", "bgm", "profiles"], "additionalProperties": false,
            "properties": {
              "subtitle": {
                "type": "object", "required": ["enabled", "preset", "position"], "additionalProperties": false,
                "properties": {
                  "enabled": { "type": "boolean" },
                  "preset": { "type": "string", "enum": ["white_outline"] },
                  "position": { "type": "string", "enum": ["bottom", "top"] }
                }
              },
              "bgm": {
                "type": "object", "required": ["asset_id", "volume", "fade_in_ms", "fade_out_ms"], "additionalProperties": false,
                "properties": {
                  "asset_id": { "type": "string", "nullable": true },
                  "volume": { "type": "number", "minimum": 0, "maximum": 1 },
                  "fade_in_ms": { "type": "integer", "minimum": 0 },
                  "fade_out_ms": { "type": "integer", "minimum": 0 }
                }
              },
              "profiles": {
                "type": "object", "required": ["preview", "final"], "additionalProperties": false,
                "properties": {
                  "preview": { "type": "string", "enum": ["short_drama_preview_v1"] },
                  "final": { "type": "string", "enum": ["short_drama_final_v1"] }
                }
              }
            }
          },
          "current_preview_version": { "type": "integer", "minimum": 1, "nullable": true },
          "current_final_version": { "type": "integer", "minimum": 1, "nullable": true },
          "preview_locked": { "type": "boolean" },
          "implementation_status": { "type": "string", "enum": ["formal_export"] },
          "rendering_enabled": { "type": "boolean", "enum": [true] },
          "planner_version": { "type": "string", "enum": ["short_drama_media_plan_v1"] },
          "input_hash": { "type": "string", "nullable": true },
          "media_plan": { "type": "object", "nullable": true },
          "audio_subtitle": {
            "type": "object",
            "required": ["engine_version", "input_hash", "status", "error_code", "artifacts", "blockers", "bgm_source"],
            "additionalProperties": true,
            "properties": {
              "engine_version": { "type": "string", "enum": ["short_drama_audio_subtitle_v1"] },
              "input_hash": { "type": "string", "nullable": true },
              "status": { "type": "string", "enum": ["blocked", "not_built", "building", "ready", "failed", "stale"] },
              "error_code": { "type": "string" },
              "artifacts": { "type": "array", "items": { "type": "object" } },
              "blockers": { "type": "array", "items": { "$ref": "#/components/schemas/ShortDramaAssemblyBlocker" } },
              "bgm_source": { "type": "object", "nullable": true }
            }
          },
          "master_audio": {
            "type": "object",
            "required": ["engine_version", "contract_version", "master_audio_hash", "status", "cache_hit", "duration_ms", "sample_rate", "channels", "codec", "artifact", "timeline", "blockers"],
            "additionalProperties": false,
            "properties": {
              "engine_version": { "type": "string", "enum": ["short_drama_master_audio_v1"] },
              "contract_version": { "type": "string", "enum": ["short_drama_master_timeline_v1"] },
              "master_audio_hash": { "type": "string", "nullable": true },
              "status": { "type": "string", "enum": ["blocked", "not_built", "building", "ready", "failed", "stale"] },
              "cache_hit": { "type": "boolean" },
              "duration_ms": { "type": "integer", "nullable": true },
              "sample_rate": { "type": "integer", "enum": [48000] },
              "channels": { "type": "integer", "enum": [2] },
              "codec": { "type": "string", "enum": ["pcm_s16le"] },
              "artifact": { "type": "object", "nullable": true },
              "timeline": { "type": "object" },
              "blockers": { "type": "array", "items": { "$ref": "#/components/schemas/ShortDramaAssemblyBlocker" } }
            }
          },
          "lipsync_assembly": {
            "type": "object",
            "nullable": true,
            "description": "PR-H ??????????????????????"
          },
          "shots": { "type": "array", "items": { "$ref": "#/components/schemas/ShortDramaAssemblyShot" } },
          "versions": { "type": "array", "items": { "$ref": "#/components/schemas/ShortDramaCompositionVersion" } },
          "active_job": { "$ref": "#/components/schemas/ShortDramaCompositionJob" },
          "latest_job": { "$ref": "#/components/schemas/ShortDramaCompositionJob" },
          "readiness": {
            "type": "object", "required": ["ready", "blockers"], "additionalProperties": false,
            "properties": {
              "ready": { "type": "boolean" },
              "blockers": { "type": "array", "items": { "$ref": "#/components/schemas/ShortDramaAssemblyBlocker" } }
            }
          },
          "actions": {
            "type": "object", "required": ["can_save_config", "can_preview", "can_lock_preview", "can_export", "can_confirm"], "additionalProperties": false,
            "properties": {
              "can_save_config": { "type": "boolean", "enum": [false] },
              "can_preview": { "type": "boolean" },
              "can_lock_preview": { "type": "boolean", "enum": [false] },
              "can_export": { "type": "boolean" },
              "can_confirm": { "type": "boolean" }
            }
          },
          "blockers": { "type": "array", "items": { "$ref": "#/components/schemas/ShortDramaAssemblyBlocker" } },
          "completion": { "$ref": "#/components/schemas/ShortDramaCompletionReadiness" }
        }
      },
      "ShortDramaCompletionBlocker": {
        "type": "object",
        "required": ["code", "domain", "entity_id", "message", "recommended_action"],
        "additionalProperties": false,
        "properties": {
          "code": { "type": "string" },
          "domain": { "type": "string" },
          "entity_id": { "type": "string", "nullable": true },
          "message": { "type": "string" },
          "recommended_action": { "type": "string" }
        }
      },
      "ShortDramaCompletionSummary": {
        "type": "object",
        "required": ["completion_id", "project_id", "stage", "revision", "base_revision", "final_version_id", "asset_id", "delivery_hash", "completed_by", "completed_at", "snapshot", "replayed"],
        "additionalProperties": false,
        "properties": {
          "completion_id": { "type": "string", "format": "uuid" },
          "project_id": { "type": "string" },
          "stage": { "type": "string", "enum": ["completed"] },
          "revision": { "type": "integer", "minimum": 2 },
          "base_revision": { "type": "integer", "minimum": 1 },
          "final_version_id": { "type": "string" },
          "asset_id": { "type": "string" },
          "delivery_hash": { "type": "string", "pattern": "^[0-9a-f]{64}$" },
          "completed_by": { "type": "string" },
          "completed_at": { "type": "integer" },
          "snapshot": { "type": "object" },
          "replayed": { "type": "boolean" }
        }
      },
      "ShortDramaCompletionReadiness": {
        "type": "object",
        "required": ["project_id", "revision", "stage", "feature_enabled", "ready", "blockers", "delivery_hash", "checked_at"],
        "additionalProperties": true,
        "properties": {
          "project_id": { "type": "string" },
          "revision": { "type": "integer", "minimum": 1 },
          "stage": { "type": "string", "enum": ["assembly_review", "completed"] },
          "feature_enabled": { "type": "boolean" },
          "ready": { "type": "boolean" },
          "blockers": { "type": "array", "items": { "$ref": "#/components/schemas/ShortDramaCompletionBlocker" } },
          "delivery_hash": { "type": "string" },
          "checked_at": { "type": "integer" },
          "expires_at": { "type": "integer" },
          "final_version": { "type": "object" },
          "asset": { "type": "object" },
          "locks": { "type": "object" },
          "billing": { "type": "object" },
          "completion": { "$ref": "#/components/schemas/ShortDramaCompletionSummary" }
        }
      },
      "ShortDramaCompletionRequest": {
        "type": "object",
        "required": ["project_id", "revision", "final_version_id", "asset_id", "delivery_hash", "acknowledged"],
        "additionalProperties": false,
        "properties": {
          "project_id": { "type": "string", "minLength": 1 },
          "revision": { "type": "integer", "minimum": 1 },
          "final_version_id": { "type": "string", "minLength": 1 },
          "asset_id": { "type": "string", "minLength": 1 },
          "delivery_hash": { "type": "string", "pattern": "^[0-9a-f]{64}$" },
          "acknowledged": { "type": "boolean", "enum": [true] }
        }
      },
      "ShortDramaPreviewRequest": {
        "type": "object", "additionalProperties": false,
        "required": ["project_id", "revision", "assembly_revision"],
        "properties": {
          "project_id": {"type": "string", "minLength": 1},
          "revision": {"type": "integer", "minimum": 1},
          "assembly_revision": {"type": "integer", "minimum": 1}
        }
      },
      "ShortDramaPreviewSubmission": {
        "type": "object", "additionalProperties": false,
        "required": ["project_id", "job_id", "status", "replayed"],
        "properties": {
          "project_id": {"type": "string"},
          "job_id": {"type": "integer", "minimum": 1},
          "status": {"type": "string", "enum": ["queued", "running", "succeeded", "failed"]},
          "replayed": {"type": "boolean"}
        }
      },
      "ShortDramaFinalQuoteRequest": {
        "type": "object", "additionalProperties": false,
        "required": ["project_id", "revision", "assembly_revision", "preview_version"],
        "properties": {
          "project_id": {"type": "string", "minLength": 1},
          "revision": {"type": "integer", "minimum": 1},
          "assembly_revision": {"type": "integer", "minimum": 1},
          "preview_version": {"type": "integer", "minimum": 1},
          "cover_time_ms": {"type": "integer", "minimum": 0}
        }
      },
      "ShortDramaFinalExportRequest": {
        "allOf": [
          {"$ref": "#/components/schemas/ShortDramaFinalQuoteRequest"},
          {"type": "object", "required": ["cover_time_ms", "quote_token"],
           "properties": {"quote_token": {"type": "string", "pattern": "^[0-9a-f]{32}$"}}}
        ]
      },
      "ShortDramaFinalSubmission": {
        "type": "object", "additionalProperties": false,
        "required": ["project_id", "job_id", "status", "cost", "replayed"],
        "properties": {
          "project_id": {"type": "string"},
          "job_id": {"type": "integer", "minimum": 1},
          "status": {"type": "string", "enum": ["queued", "running", "succeeded", "failed"]},
          "cost": {"type": "integer", "minimum": 0},
          "replayed": {"type": "boolean"}
        }
      },
      "FaceTarget": {
        "type": "object",
        "additionalProperties": false,
        "required": ["type", "value"],
        "properties": {
          "type": {"type": "string", "enum": ["character"]},
          "value": {"type": "string", "minLength": 1}
        }
      },
      "ShortDramaLipsyncBlocker": {
        "type": "object",
        "additionalProperties": true,
        "required": ["code", "scope", "entity_id", "message", "repair_action"],
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "missing_master_timeline", "timeline_stale",
              "missing_locked_visual",
              "missing_locked_audio", "missing_face_target",
              "overlapping_visible_speech", "alignment_stale",
              "alignment_review_incomplete",
              "active_lipsync_job", "provider_not_selected",
              "provider_unsupported", "project_stage_readonly"
            ]
          },
          "scope": {"type": "string", "enum": ["project", "shot", "segment"]},
          "entity_id": {"type": "string"},
          "message": {"type": "string"},
          "repair_action": {"type": "string"}
        }
      },
      "ShortDramaLipsyncSnapshot": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "project_id", "revision", "generated_at", "contract_version",
          "hash_algorithm_version", "input_hash", "dependencies", "blockers",
          "can_quote", "active_jobs", "versions", "current_version", "stale",
          "permissions", "readiness", "features", "billing"
        ],
        "properties": {
          "project_id": {"type": "string"},
          "revision": {"type": "integer", "minimum": 1},
          "generated_at": {"type": "integer", "minimum": 0},
          "contract_version": {"type": "string", "enum": ["short-drama-lipsync-v1"]},
          "hash_algorithm_version": {"type": "string", "enum": ["canonical-json-sha256-v1"]},
          "input_hash": {"type": "string", "pattern": "^[0-9a-f]{64}$"},
          "dependencies": {
            "type": "object",
            "required": [
              "timeline", "visual_sources", "audio", "alignment",
              "speakers", "provider_catalog"
            ],
            "additionalProperties": false,
            "properties": {
              "timeline": {"type": "object"},
              "visual_sources": {"type": "array", "items": {"type": "object"}},
              "audio": {"type": "object"},
              "alignment": {"type": "object"},
              "speakers": {"type": "array", "items": {"type": "object"}},
              "provider_catalog": {"type": "object"}
            }
          },
          "blockers": {
            "type": "array",
            "items": {"$ref": "#/components/schemas/ShortDramaLipsyncBlocker"}
          },
          "can_quote": {"type": "boolean"},
          "active_jobs": {"type": "array", "items": {"type": "object"}},
          "billing": {
            "type": "object",
            "required": ["unsettled", "refund_pending", "manual_review"],
            "properties": {
              "unsettled": {"type": "array", "items": {"type": "object"}},
              "refund_pending": {"type": "integer", "minimum": 0},
              "manual_review": {"type": "integer", "minimum": 0}
            }
          },
          "versions": {"type": "array", "items": {"type": "object"}},
          "current_version": {"type": "array", "items": {"type": "object"}},
          "stale": {"type": "boolean"},
          "permissions": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "read", "quote", "can_edit", "can_create_job",
              "can_select", "can_lock"
            ],
            "properties": {
              "read": {"type": "boolean"},
              "quote": {"type": "boolean"},
              "can_edit": {"type": "boolean"},
              "can_create_job": {"type": "boolean"},
              "can_select": {"type": "boolean"},
              "can_lock": {"type": "boolean"}
            }
          },
          "readiness": {
            "type": "object"
          },
          "features": {
            "type": "object",
            "additionalProperties": false,
            "required": ["ui_enabled", "mutations_enabled", "batch_enabled"],
            "properties": {
              "ui_enabled": {"type": "boolean"},
              "mutations_enabled": {"type": "boolean"},
              "batch_enabled": {"type": "boolean"}
            }
          }
        }
      },
      "ShortDramaLipsyncQuoteRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "project_id", "shot_id", "expected_revision",
          "expected_input_hash", "provider", "profile", "face_target",
          "idempotency_key"
        ],
        "properties": {
          "project_id": {"type": "string", "minLength": 1},
          "shot_id": {"type": "string", "minLength": 1},
          "expected_revision": {"type": "integer", "minimum": 1},
          "expected_input_hash": {"type": "string", "pattern": "^[0-9a-f]{64}$"},
          "provider": {"type": "string", "minLength": 1},
          "profile": {"type": "string", "minLength": 1},
          "face_target": {
            "allOf": [{"$ref": "#/components/schemas/FaceTarget"}],
            "description": "?????????????????????????????????"
          },
          "idempotency_key": {"type": "string", "minLength": 1}
        }
      },
      "ShortDramaLipsyncQuote": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "quote_id", "business_key", "quote_revision", "status",
          "quote_mode", "chargeable", "provider",
          "provider_capability_version", "profile", "pricing_version",
          "duration_ms", "actual_duration_ms", "billable_duration_ms",
          "media_spec", "cost", "input_hash", "expires_at", "replayed"
        ],
        "properties": {
          "quote_id": {"type": "string", "format": "uuid"},
          "business_key": {"type": "string", "pattern": "^[0-9a-f]{64}$"},
          "quote_revision": {"type": "integer", "minimum": 1},
          "status": {"type": "string", "enum": ["issued"]},
          "quote_mode": {"type": "string", "enum": ["simulation", "paid"]},
          "chargeable": {"type": "boolean"},
          "provider": {"type": "string"},
          "provider_capability_version": {"type": "string"},
          "profile": {"type": "string"},
          "pricing_version": {"type": "string"},
          "duration_ms": {
            "type": "integer",
            "minimum": 1,
            "description": "?? face_target ?????????????"
          },
          "actual_duration_ms": {"type": "integer", "minimum": 1},
          "billable_duration_ms": {"type": "integer", "minimum": 1},
          "media_spec": {"type": "object"},
          "cost": {
            "type": "object",
            "required": [
              "points", "currency", "external_estimate",
              "actual_duration_ms", "billable_duration_ms", "breakdown"
            ],
            "properties": {
              "points": {"type": "integer", "minimum": 0},
              "currency": {"type": "string"},
              "external_estimate": {"type": "number", "minimum": 0},
              "actual_duration_ms": {"type": "integer", "minimum": 1},
              "billable_duration_ms": {"type": "integer", "minimum": 1},
              "breakdown": {"type": "array", "items": {"type": "object"}}
            }
          },
          "input_hash": {"type": "string", "pattern": "^[0-9a-f]{64}$"},
          "expires_at": {"type": "integer"},
          "replayed": {"type": "boolean"}
        }
      },
      "ShortDramaLipsyncJobRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["project_id", "shot_id", "quote_id", "expected_input_hash"],
        "properties": {
          "project_id": {"type": "string", "minLength": 1},
          "shot_id": {"type": "string", "minLength": 1},
          "quote_id": {"type": "string", "format": "uuid"},
          "expected_input_hash": {"type": "string", "pattern": "^[0-9a-f]{64}$"}
        }
      },
      "ShortDramaLipsyncJob": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "id", "attempt_id", "project_id", "shot_id", "provider", "state",
          "attempt_state", "cost", "progress", "result", "error", "replayed"
        ],
        "properties": {
          "id": {"type": "string", "format": "uuid"},
          "attempt_id": {"type": "string", "format": "uuid"},
          "project_id": {"type": "string"},
          "shot_id": {"type": "string"},
          "provider": {"type": "string"},
          "provider_job_id": {"type": "string", "nullable": true},
          "state": {
            "type": "string",
            "enum": [
              "prepared", "queued", "running", "succeeded", "failed",
              "cancel_pending", "cancelled", "manual_review"
            ]
          },
          "attempt_state": {
            "type": "string",
            "enum": [
              "accepted", "charged", "linked", "settled", "failed",
              "refund_pending", "refunded", "manual_review"
            ]
          },
          "cost": {"type": "integer", "minimum": 0},
          "points_left": {"type": "integer", "nullable": true},
          "progress": {"type": "integer", "minimum": 0, "maximum": 100},
          "result": {"type": "object"},
          "error": {"type": "object"},
          "terminal": {"type": "object"},
          "replayed": {"type": "boolean"}
        }
      },
      "ShortDramaLipsyncSpeakerUpdate": {
        "type": "object",
        "additionalProperties": false,
        "required": ["project_id", "revision", "timeline_revision", "changes"],
        "properties": {
          "project_id": {"type": "string", "minLength": 1},
          "revision": {"type": "integer", "minimum": 1},
          "timeline_revision": {"type": "integer", "minimum": 1},
          "changes": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "object",
              "required": [
                "id", "start_ms", "end_ms", "character_key",
                "speaking_mode", "face_target"
              ],
              "properties": {
                "id": {"type": "string"},
                "start_ms": {"type": "integer", "minimum": 0},
                "end_ms": {"type": "integer", "minimum": 1},
                "character_key": {"type": "string"},
                "speaking_mode": {
                  "type": "string",
                  "enum": ["visible", "offscreen", "silent"]
                },
                "face_target": {"type": "object"}
              }
            }
          }
        }
      },
      "ShortDramaLipsyncVersionMutation": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "project_id", "expected_revision", "expected_input_hash",
          "expected_pointer_revision"
        ],
        "properties": {
          "project_id": {"type": "string", "minLength": 1},
          "expected_revision": {"type": "integer", "minimum": 1},
          "expected_input_hash": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          },
          "expected_pointer_revision": {"type": "integer", "minimum": 0},
          "version_id": {"type": "string"}
        }
      },
      "ShortDramaFaceAnalysisRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["project_id", "shot_id"],
        "properties": {
          "project_id": {"type": "string", "minLength": 1},
          "shot_id": {"type": "string", "minLength": 1},
          "character_references": {
            "type": "array",
            "minItems": 1,
            "description": "????????????????????????????????????? ID ?????",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "required": ["character_key"],
              "properties": {
                "character_key": {"type": "string", "minLength": 1},
                "reference_asset_ids": {
                  "type": "array",
                  "maxItems": 0,
                  "deprecated": true,
                  "items": {"type": "string"}
                }
              }
            }
          },
          "params": {"type": "object"}
        }
      },
      "ShortDramaFaceAnalysis": {
        "type": "object",
        "required": [
          "id", "contract_version", "project_id", "shot_id", "input_hash", "result_hash",
          "status", "result", "manual_confirmation_required",
          "can_create_paid_job"
        ],
        "properties": {
          "id": {"type": "string"},
          "contract_version": {"type": "string", "enum": ["short-drama-lipsync-face-analysis-v2"]},
          "project_id": {"type": "string"},
          "shot_id": {"type": "string"},
          "input_hash": {"type": "string", "pattern": "^[0-9a-f]{64}$"},
          "result_hash": {"type": "string", "pattern": "^[0-9a-f]{64}$"},
          "status": {"type": "string", "enum": ["proposed", "manual_review", "failed"]},
          "result": {"type": "object", "additionalProperties": false, "required": ["detections", "tracks", "matches", "proposals", "limitations"], "properties": {"detections": {"type": "array", "items": {"type": "object"}}, "tracks": {"type": "array", "items": {"type": "object"}}, "matches": {"type": "array", "items": {"type": "object"}}, "proposals": {"type": "array", "items": {"type": "object"}}, "limitations": {"type": "array", "items": {"type": "string"}}}, "description": "v2 ?????????????????????????????????"},
          "manual_confirmation_required": {"type": "boolean", "enum": [true]},
          "can_create_paid_job": {"type": "boolean", "enum": [false]},
          "reused": {"type": "boolean"}
        }
      },
      "ShortDramaFaceTrackConfirmation": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "analysis_id", "expected_input_hash", "expected_result_hash",
          "expected_revision", "review_mode", "review_reason", "mapping"
        ],
        "properties": {
          "analysis_id": {"type": "string", "minLength": 1},
          "expected_input_hash": {"type": "string", "pattern": "^[0-9a-f]{64}$"},
          "expected_result_hash": {"type": "string", "pattern": "^[0-9a-f]{64}$"},
          "expected_revision": {"type": "integer", "minimum": 0},
          "review_mode": {
            "type": "string",
            "enum": ["manual_confirmed", "manual_adjusted"]
          },
          "review_reason": {"type": "string", "minLength": 1},
          "mapping": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "object",
              "additionalProperties": false,
              "required": ["segment_id", "face_track_id", "character_key"],
              "properties": {
                "segment_id": {"type": "string"},
                "face_track_id": {"type": "string"},
                "character_key": {"type": "string"}
              }
            }
          }
        }
      },
      "TimelineBlocker": {
        "type": "object",
        "required": ["code", "message"],
        "additionalProperties": true,
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "timeline_revision_conflict", "timeline_segment_overlap",
              "timeline_out_of_bounds", "timeline_missing_character",
              "timeline_missing_face_target", "timeline_voice_not_locked",
              "timeline_alignment_stale", "timeline_legacy_incomplete",
              "timeline_stage_readonly", "timeline_handoff_not_ready",
              "timeline_invalid_segment",
              "timeline_invalid_subtitle"
            ]
          },
          "message": {"type": "string"},
          "shot_id": {"type": "string"},
          "line_id": {"type": "string"},
          "segment_id": {"type": "string"}
        }
      },
      "TimelineSegment": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id", "shot_id", "line_id", "character_key", "voice_asset_id",
          "start_ms", "end_ms", "speaking_mode", "face_target", "sort_order"
        ],
        "properties": {
          "id": {"type": "string", "minLength": 1},
          "shot_id": {"type": "string", "minLength": 1},
          "line_id": {"type": "string", "minLength": 1},
          "character_key": {"type": "string"},
          "voice_asset_id": {"type": "string"},
          "start_ms": {"type": "integer", "minimum": 0},
          "end_ms": {"type": "integer", "minimum": 1},
          "speaking_mode": {
            "type": "string",
            "enum": ["visible", "offscreen", "narration"]
          },
          "face_target": {
            "nullable": true,
            "allOf": [{"$ref": "#/components/schemas/FaceTarget"}]
          },
          "sort_order": {"type": "integer", "minimum": 0}
        }
      },
      "MasterTimelineVersion": {
        "type": "object",
        "required": [
          "id", "project_id", "version", "status", "effective_status",
          "revision", "contract_version", "duration_ms", "source_hashes",
          "timeline_hash", "input_hash", "subtitle_cues", "blockers", "segments"
        ],
        "additionalProperties": true,
        "properties": {
          "id": {"type": "string", "format": "uuid"},
          "project_id": {"type": "string"},
          "version": {"type": "integer", "minimum": 1},
          "parent_id": {"type": "string", "nullable": true},
          "status": {"type": "string", "enum": ["draft", "blocked", "ready"]},
          "effective_status": {
            "type": "string",
            "enum": ["draft", "blocked", "ready", "stale"]
          },
          "revision": {"type": "integer", "minimum": 1},
          "timeline_revision": {"type": "integer", "minimum": 1},
          "contract_version": {
            "type": "string",
            "enum": ["short_drama_speaker_timeline_v1"]
          },
          "duration_ms": {"type": "integer", "minimum": 0},
          "source_hashes": {"type": "object", "additionalProperties": {"type": "string"}},
          "timeline_hash": {"type": "string", "pattern": "^[0-9a-f]{64}$"},
          "input_hash": {"type": "string", "pattern": "^[0-9a-f]{64}$"},
          "subtitle_cues": {"type": "array", "items": {"type": "object"}},
          "blockers": {
            "type": "array",
            "items": {"$ref": "#/components/schemas/TimelineBlocker"}
          },
          "segments": {
            "type": "array",
            "items": {"$ref": "#/components/schemas/TimelineSegment"}
          }
        }
      },
      "MasterTimelineSnapshot": {
        "type": "object",
        "required": [
          "contract_version", "project_id", "project_revision",
          "timeline_revision", "stage", "duration_ms", "shot_bounds",
          "characters", "source_hashes", "status", "versions", "blockers",
          "capabilities"
        ],
        "additionalProperties": true,
        "properties": {
          "contract_version": {
            "type": "string",
            "enum": ["short_drama_speaker_timeline_v1"]
          },
          "project_id": {"type": "string"},
          "project_revision": {"type": "integer", "minimum": 1},
          "timeline_revision": {"type": "integer", "minimum": 0},
          "stage": {"type": "string"},
          "duration_ms": {"type": "integer", "minimum": 0},
          "shot_bounds": {"type": "array", "items": {"type": "object"}},
          "characters": {"type": "array", "items": {"type": "object"}},
          "source_hashes": {"type": "object", "additionalProperties": {"type": "string"}},
          "status": {
            "type": "string",
            "enum": ["legacy", "draft", "blocked", "ready", "stale"]
          },
          "current_version": {
            "nullable": true,
            "allOf": [{"$ref": "#/components/schemas/MasterTimelineVersion"}]
          },
          "versions": {
            "type": "array",
            "items": {"$ref": "#/components/schemas/MasterTimelineVersion"}
          },
          "blockers": {
            "type": "array",
            "items": {"$ref": "#/components/schemas/TimelineBlocker"}
          },
          "capabilities": {"type": "object", "additionalProperties": {"type": "boolean"}},
          "replayed": {"type": "boolean"}
        }
      },
      "TimelineWriteRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["project_id", "revision", "timeline_revision", "changes"],
        "properties": {
          "project_id": {"type": "string", "minLength": 1},
          "revision": {"type": "integer", "minimum": 1},
          "timeline_revision": {"type": "integer", "minimum": 0},
          "changes": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "id", "start_ms", "end_ms", "character_key",
                "speaking_mode", "face_target"
              ],
              "properties": {
                "id": {"type": "string", "minLength": 1},
                "start_ms": {"type": "integer", "minimum": 0},
                "end_ms": {"type": "integer", "minimum": 1},
                "character_key": {"type": "string"},
                "speaking_mode": {
                  "type": "string",
                  "enum": ["visible", "offscreen", "narration"]
                },
                "face_target": {
                  "nullable": true,
                  "allOf": [{"$ref": "#/components/schemas/FaceTarget"}]
                }
              }
            }
          }
        }
      },
      "RevisionConflict": {
        "type": "object", "required": ["detail", "code"], "properties": {
          "detail": { "type": "string" }, "code": { "type": "string", "enum": ["revision_conflict", "job_already_applied"] }
        }
      },
      "CharacterReferenceProtectedConflict": {
        "type": "object",
        "required": ["detail", "code"],
        "additionalProperties": false,
        "properties": {
          "detail": { "type": "string" },
          "code": { "type": "string", "enum": ["character_reference_protected"] }
        }
      },
      "TimelineHandoffConflict": {
        "type": "object",
        "required": ["detail", "code", "blockers"],
        "additionalProperties": false,
        "properties": {
          "detail": { "type": "string" },
          "code": { "type": "string", "enum": ["timeline_handoff_not_ready"] },
          "blockers": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/TimelineBlocker" }
          }
        }
      },
      "ShortDramaDeleteConflict": {
        "oneOf": [
          { "$ref": "#/components/schemas/RevisionConflict" },
          { "type": "object", "required": ["detail", "code"], "additionalProperties": false, "properties": { "detail": { "type": "string" }, "code": { "type": "string", "enum": ["short_drama_unapplied_paid_job"] } } }
        ]
      },
      "ShortDramaConversationMutation": {
        "type": "object",
        "required": ["project_id", "conversation_revision"],
        "properties": {
          "project_id": { "type": "string" },
          "conversation_revision": { "type": "integer", "minimum": 1 },
          "message": { "type": "string", "minLength": 1, "maxLength": 8000 },
          "instruction": { "type": "string", "maxLength": 2000 },
          "version_id": { "type": "string" }
        }
      },
      "ShortDramaCharacterStudioWorkspace": {
        "type": "object",
        "required": ["project_id", "project_revision", "script_version_id", "characters", "avatars", "summary", "permissions"],
        "properties": {
          "project_id": { "type": "string" },
          "project_revision": { "type": "integer", "minimum": 1 },
          "script_version_id": { "type": "string" },
          "script_version": { "type": "integer", "minimum": 1 },
          "characters": { "type": "array", "items": { "type": "object", "additionalProperties": true } },
          "avatars": { "type": "array", "items": { "type": "object", "additionalProperties": true } },
          "summary": { "type": "object", "additionalProperties": true },
          "permissions": { "type": "object", "additionalProperties": true }
        }
      },
      "ShortDramaCharacterProfileMutation": {
        "type": "object",
        "additionalProperties": false,
        "required": ["project_id", "project_revision", "character_key", "identity_text", "personality", "appearance_prompt", "wardrobe_prompt"],
        "properties": {
          "project_id": { "type": "string" },
          "project_revision": { "type": "integer", "minimum": 1 },
          "character_key": { "type": "string" },
          "name": { "type": "string", "minLength": 1, "maxLength": 20, "description": "???????????????????" },
          "identity_text": { "type": "string", "minLength": 1, "maxLength": 4000 },
          "personality": { "type": "string", "minLength": 1, "maxLength": 4000 },
          "appearance_prompt": { "type": "string", "minLength": 1, "maxLength": 4000 },
          "wardrobe_prompt": { "type": "string", "minLength": 1, "maxLength": 4000 }
        }
      },
      "ShortDramaCharacterAvatarMutation": {
        "type": "object",
        "additionalProperties": false,
        "required": ["project_id", "project_revision", "character_key", "avatar_id"],
        "properties": {
          "project_id": { "type": "string" },
          "project_revision": { "type": "integer", "minimum": 1 },
          "character_key": { "type": "string" },
          "avatar_id": { "type": "string", "description": "???????????" }
        }
      },
      "ShortDramaConversationWorkspace": {
        "type": "object",
        "required": ["project", "conversation", "messages", "versions", "permissions", "billing"],
        "properties": {
          "project": { "$ref": "#/components/schemas/ShortDramaProject" },
          "conversation": {
            "type": "object",
            "required": ["state", "revision"],
            "properties": {
              "state": { "type": "string", "enum": ["idea_intake", "direction_review", "script_generating", "script_review", "script_locked", "generation_failed"] },
              "revision": { "type": "integer", "minimum": 1 },
              "understanding": { "type": "object", "additionalProperties": true },
              "current_version_id": { "type": "string", "nullable": true },
              "locked_version_id": { "type": "string", "nullable": true }
            }
          },
          "messages": { "type": "array", "items": { "type": "object", "additionalProperties": true } },
          "current_script": { "type": "object", "nullable": true, "additionalProperties": true },
          "versions": { "type": "array", "items": { "type": "object", "additionalProperties": true } },
          "permissions": { "type": "object", "additionalProperties": true },
          "billing": { "type": "object", "description": "PR-2 ?? cost=0?charged=false?", "additionalProperties": true }
        }
      },
      "ShortDramaPreflightWorkspace": {
        "type": "object",
        "required": ["project", "state", "conversation_revision", "versions", "stale", "permissions", "billing"],
        "properties": {
          "project": { "type": "object", "additionalProperties": true },
          "state": { "type": "string", "enum": ["script_required", "awaiting_preflight", "ready_for_confirmation", "confirmed"] },
          "conversation_revision": { "type": "integer", "minimum": 0 },
          "source_script": { "type": "object", "nullable": true, "additionalProperties": true },
          "current_plan": { "type": "object", "nullable": true, "additionalProperties": true },
          "versions": { "type": "array", "items": { "type": "object", "additionalProperties": true } },
          "stale": { "type": "boolean" },
          "permissions": { "type": "object", "additionalProperties": true },
          "billing": { "type": "object", "description": "PR-3 ?????? cost=0?charged=false?", "additionalProperties": true }
        }
      },
      "ShortDramaPreflightGenerate": {
        "type": "object",
        "required": ["project_id", "conversation_revision", "quality_route"],
        "properties": {
          "project_id": { "type": "string" },
          "conversation_revision": { "type": "integer", "minimum": 1 },
          "quality_route": { "type": "string", "enum": ["quick_draft", "formal"] }
        }
      },
      "ShortDramaPreflightConfirm": {
        "type": "object",
        "required": ["project_id", "plan_id", "plan_version", "accepted_issue_keys"],
        "properties": {
          "project_id": { "type": "string" },
          "plan_id": { "type": "string" },
          "plan_version": { "type": "integer", "minimum": 1 },
          "accepted_issue_keys": { "type": "array", "items": { "type": "string" } }
        }
      },
      "Error": { "type": "object", "properties": { "detail": { "type": "string" }, "code": { "type": "string" } } }
    }
  },
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/api/admin/short-drama/lipsync/health": {
      "get": {
        "tags": ["????"],
        "summary": "??????????????",
        "responses": {"200": {"description": "????????????? Provider ??"}, "403": {"description": "???????"}}
      }
    },
    "/api/admin/short-drama/lipsync/diagnostics": {
      "get": {
        "tags": ["????"],
        "summary": "???????????? Provider Job ID ????",
        "parameters": [
          {"name": "project_id", "in": "query", "schema": {"type": "string"}},
          {"name": "job_id", "in": "query", "schema": {"type": "string"}},
          {"name": "attempt_id", "in": "query", "schema": {"type": "string"}},
          {"name": "provider_job_id", "in": "query", "schema": {"type": "string"}}
        ],
        "responses": {"200": {"description": "??????????????"}, "400": {"description": "??????"}, "403": {"description": "???????"}}
      }
    },
    "/api/admin/short-drama/lipsync/rollout": {
      "post": {
        "tags": ["????"],
        "summary": "??????????????????",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "required": ["confirmation", "reason", "enabled", "kill_switch", "percentage"], "properties": {"confirmation": {"type": "string", "enum": ["CONFIRM"]}, "reason": {"type": "string"}, "enabled": {"type": "boolean"}, "kill_switch": {"type": "boolean"}, "percentage": {"type": "integer", "minimum": 0, "maximum": 100}}}}}},
        "responses": {"200": {"description": "??????????"}, "409": {"description": "??????"}, "403": {"description": "???????"}}
      }
    },
    "/api/admin/short-drama/lipsync/provider": {
      "post": {
        "tags": ["????"],
        "summary": "????????? Provider",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "required": ["confirmation", "provider", "paused", "reason"], "properties": {"confirmation": {"type": "string", "enum": ["CONFIRM"]}, "provider": {"type": "string"}, "paused": {"type": "boolean"}, "reason": {"type": "string"}, "incident_id": {"type": "string"}}}}}},
        "responses": {"200": {"description": "Provider ????????"}, "403": {"description": "???????"}}
      }
    },
    "/api/admin/short-drama/lipsync/reconcile": {
      "post": {
        "tags": ["????"],
        "summary": "???????????????",
        "responses": {"200": {"description": "????"}, "403": {"description": "???????"}}
      }
    },
    "/api/admin/short-drama/lipsync/refund": {
      "post": {
        "tags": ["????"],
        "summary": "???????????????",
        "responses": {"200": {"description": "??????"}, "403": {"description": "???????"}}
      }
    },
    "/api/auth/login": {
      "post": {
        "tags": ["??"], "summary": "??(? token)", "security": [],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["username", "password"], "properties": { "username": { "type": "string", "example": "fang" }, "password": { "type": "string" } } } } } },
        "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "type": "object", "properties": { "token": { "type": "string" }, "user": { "$ref": "#/components/schemas/User" } } } } } }, "401": { "description": "???????", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } } }
      }
    },
    "/api/auth/register": {
      "post": {
        "tags": ["??"], "summary": "?????", "security": [],
        "description": "???????invite_code ????????????????????????????? HttpOnly Cookie ?????",
        "requestBody": { "required": true, "content": { "application/json": { "schema": {
          "type": "object", "required": ["username", "password"], "additionalProperties": true,
          "properties": {
            "username": { "type": "string", "maxLength": 64 },
            "password": { "type": "string", "minLength": 6 },
            "display_name": { "type": "string", "maxLength": 32 },
            "invite_code": { "type": "string", "maxLength": 32 },
            "invite_source": { "type": "string", "enum": ["web_link"] },
            "device_id": { "type": "string", "maxLength": 256 }
          }
        } } } },
        "responses": {
          "200": { "description": "????", "content": { "application/json": { "schema": { "type": "object", "properties": { "user": { "$ref": "#/components/schemas/User" } } } } } },
          "400": { "description": "??????" }, "409": { "description": "????????????" }, "429": { "description": "????????" }
        }
      }
    },
    "/api/auth/card/wechat/bind": {
      "post": {
        "tags": ["??"], "summary": "????????????????",
        "description": "???? Bearer ??? Cookie???? business_cards??????? users.wx_openid???????? card_token?",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["wx_code"], "properties": { "wx_code": { "type": "string", "writeOnly": true } } } } } },
        "responses": { "200": { "description": "???????????????" }, "401": { "description": "???" }, "409": { "description": "openid_in_use" } }
      }
    },
    "/api/auth/miniprogram/card-login": {
      "post": {
        "tags": ["??"], "summary": "?????????????????????", "security": [],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["wx_code"], "properties": { "wx_code": { "type": "string", "writeOnly": true } } } } } },
        "responses": { "200": { "description": "token?user ? owner-only card" }, "404": { "description": "card_unbound" } }
      }
    },
    "/api/auth/miniprogram/card-session": {
      "post": {
        "tags": ["??"], "summary": "?????????????", "security": [],
        "description": "??? card_token?????? AI ???????card_token ???????????????????",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["wx_code"], "properties": { "wx_code": { "type": "string", "writeOnly": true } } } } } },
        "responses": { "200": { "description": "card_token ? owner-only card" }, "404": { "description": "card_unbound" } }
      }
    },
    "/api/auth/miniprogram/card-account-login": {
      "post": {
        "tags": ["??"], "summary": "???????????????",
        "description": "?? X-HQ-Card-Token??????????????????? AI ??? token?",
        "responses": { "200": { "description": "token ? user" }, "401": { "description": "card_session_invalid" } }
      }
    },
    "/api/auth/miniprogram/card-register": {
      "post": {
        "tags": ["??"], "summary": "??????????????????", "security": [],
        "description": "????????????????????? must_change/initial_password ?????????????separate_sessions=true ???? card_token??????????????????????????????????????????",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["wx_code", "phone", "card", "device_id"], "properties": { "wx_code": { "type": "string", "writeOnly": true }, "phone": { "type": "string", "pattern": "^1[3-9]\\d{9}$" }, "card": { "type": "object" }, "device_id": { "type": "string", "maxLength": 256 }, "invite_code": { "type": "string" }, "invite_attribution_token": { "type": "string", "writeOnly": true }, "separate_sessions": { "type": "boolean" } } } } } },
        "responses": { "200": { "description": "card_token????????? token?user?card??? created?invite_rewarded?ai_account?initial_password ?????" }, "409": { "description": "account_exists ? invalid_invite_attribution" } }
      }
    },
    "/api/auth/invite/journey/start": {
      "post": {
        "tags": ["??"], "summary": "????????????", "security": [],
        "description": "??????????????????????????????????????????????????",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["invite_attribution_token"], "properties": { "invite_attribution_token": { "type": "string", "writeOnly": true } } } } } },
        "responses": { "200": { "description": "??????????" }, "409": { "description": "invalid_invite_attribution" } }
      }
    },
    "/api/auth/invite/code": {
      "get": {
        "tags": ["??"], "summary": "????????????",
        "responses": {
          "200": { "description": "????????", "content": { "application/json": { "schema": {
            "type": "object", "required": ["code", "invite_link"],
            "properties": { "code": { "type": "string", "minLength": 6, "maxLength": 6 }, "invite_link": { "type": "string", "format": "uri" } }
          } } } },
          "401": { "description": "???" }, "409": { "description": "?????????" }
        }
      }
    },
    "/api/admin/points/audit": {
      "get": {
        "tags": ["??"], "summary": "???????????", "description": "????????????? admin-api ???auth ???????????",
        "parameters": [
          { "name": "username", "in": "query", "schema": { "type": "string" } },
          { "name": "actor", "in": "query", "schema": { "type": "string", "enum": ["admin", "system", ""] } },
          { "name": "direction", "in": "query", "schema": { "type": "string", "enum": ["debit", "credit", ""] } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 300, "default": 100 } }
        ],
        "responses": { "200": { "description": "?? items?total ? credits/debits/net ??" }, "401": { "description": "???" }, "403": { "description": "????" } }
      }
    },
    "/api/auth/logout": {
      "post": { "tags": ["??"], "summary": "??(?? token)", "responses": { "200": { "description": "OK" } } }
    },
    "/api/auth/change_password": {
      "post": {
        "tags": ["??"], "summary": "???(???????????????? token ????)",
        "description": "????? Bearer/Cookie ? X-HQ-Card-Token????????????",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["old_password", "new_password"], "properties": { "old_password": { "type": "string", "description": "????" }, "new_password": { "type": "string", "description": "?? 6 ?" } } } } } },
        "responses": { "200": { "description": "OK???????? token ?????????" }, "400": { "description": "?????? / ?????" }, "401": { "description": "???" } }
      }
    },
    "/api/auth/me": {
      "get": { "tags": ["??"], "summary": "?????? / ??", "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "type": "object", "properties": { "user": { "$ref": "#/components/schemas/User" } } } } } }, "401": { "description": "???" } } }
    },
    "/api/gen/digital-presenter/capability": {
      "get": {
        "tags": ["???"], "summary": "?????????", "description": "???????",
        "responses": { "200": { "description": "??????", "content": { "application/json": { "schema": { "type": "object", "required": ["enabled"], "properties": { "enabled": { "type": "boolean" } } } } } }, "401": { "description": "???" } }
      }
    },
    "/api/gen/digital-presenter/projects": {
      "post": {
        "tags": ["???"], "summary": "???????", "description": "?? X-Canvas-Board-Id?owner/editor ???????????? 404?",
        "parameters": [{ "$ref": "#/components/parameters/XCanvasBoardIdRequired" }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "additionalProperties": true } } } },
        "responses": { "200": { "description": "?????" }, "400": { "description": "????" }, "401": { "description": "???" }, "403": { "description": "??????" }, "404": { "description": "???????????" } }
      }
    },
    "/api/gen/digital-presenter/project": {
      "get": {
        "tags": ["???"], "summary": "???????", "description": "X-Canvas-Board-Id ??????????????owner/editor/viewer ???",
        "parameters": [{ "$ref": "#/components/parameters/XCanvasBoardIdRequired" }, { "name": "id", "in": "query", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "????" }, "400": { "description": "???? ID" }, "401": { "description": "???" }, "403": { "description": "??????" }, "404": { "description": "?????" } }
      },
      "put": {
        "tags": ["???"], "summary": "???????", "description": "X-Canvas-Board-Id ??????????????owner/editor ???viewer ?? 403???????? project_id ? revision?",
        "parameters": [{ "$ref": "#/components/parameters/XCanvasBoardIdRequired" }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["project_id", "revision"], "additionalProperties": true, "properties": { "project_id": { "type": "string" }, "revision": { "type": "integer", "minimum": 1 } } } } } },
        "responses": { "200": { "description": "?????" }, "400": { "description": "????" }, "403": { "description": "??????" }, "404": { "description": "????????" }, "409": { "description": "revision_conflict" } }
      },
      "delete": {
        "tags": ["???"], "summary": "???????", "description": "X-Canvas-Board-Id ????????????????? owner ????editor/viewer ?? 403?", "parameters": [
          { "$ref": "#/components/parameters/XCanvasBoardIdRequired" },
          { "name": "id", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "revision", "in": "query", "required": true, "schema": { "type": "integer", "minimum": 1 } }
        ],
        "responses": { "200": { "description": "?????" }, "400": { "description": "????" }, "403": { "description": "? owner ???" }, "404": { "description": "????????" }, "409": { "description": "revision_conflict" } }
      }
    },
    "/api/gen/short-drama/planning-quote": {
      "get": {
        "tags": ["????"], "summary": "??????????", "description": "Free / no points. ?????????????? format=short_drama ? copy ?????????????????? cost ?????????????? copy job?",
        "responses": {
          "200": { "description": "??????????????", "content": { "application/json": { "schema": { "type": "object", "required": ["cost"], "additionalProperties": false, "properties": { "cost": { "type": "integer", "minimum": 0 } } } } } },
          "401": { "description": "???", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "403": { "description": "???????????", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/gen/short-drama/planning-job": {
      "get": {
        "tags": ["????"], "summary": "?????????????????", "description": "Free / no points. ????????????????????? X-Canvas-Board-Id?owner/editor/viewer ????????????????? draft ?????????????? pending?running ? done ????????????",
        "parameters": [{ "$ref": "#/components/parameters/XCanvasBoardId" }, { "in": "query", "name": "project_id", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "responses": {
          "200": { "description": "????????? job_id ? null", "content": { "application/json": { "schema": { "type": "object", "required": ["job_id"], "additionalProperties": false, "properties": { "job_id": { "type": "integer", "nullable": true }, "cost": { "type": "integer", "minimum": 0 }, "status": { "type": "string", "enum": ["pending", "running", "done"] }, "project_revision": { "type": "integer", "minimum": 1 } } } } } },
          "400": { "description": "?????? project_id" }, "401": { "description": "???" }, "403": { "description": "???????????" }, "404": { "description": "?????????????" }
        }
      }
    },
    "/api/gen/short-drama/production": {
      "get": {
        "tags": ["??"],
        "summary": "????????????",
        "description": "??????????????????????????????????????????????????????? X-Canvas-Board-Id?owner/editor/viewer ???",
        "security": [{"bearerAuth": []}],
        "parameters": [{ "$ref": "#/components/parameters/XCanvasBoardId" }, {
          "name": "project_id", "in": "query", "required": true,
          "schema": {"type": "string", "minLength": 1}
        }],
        "responses": {
          "200": {"description": "??????????", "content": {"application/json": {"schema": {
            "type": "object",
            "required": [
              "project_id", "revision", "stage", "ratio", "point_budget",
              "spent_points", "reserved_points", "handoff_blocked",
              "handoff_blockers", "shots"
            ],
            "properties": {
              "project_id": {"type": "string"},
              "revision": {"type": "integer", "minimum": 1},
              "stage": {"type": "string"},
              "ratio": {"type": "string", "enum": ["9:16", "16:9"]},
              "point_budget": {"type": "integer", "minimum": 0},
              "spent_points": {"type": "integer", "minimum": 0},
              "reserved_points": {"type": "integer", "minimum": 0},
              "handoff_blocked": {"type": "boolean"},
              "handoff_blockers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": ["code", "message"],
                  "properties": {
                    "code": {"type": "string", "enum": [
                      "missing_locked_still", "active_job", "refund_pending",
                      "charge_attempt_pending", "ledger_inconsistent"
                    ]},
                    "shot_id": {"type": "string"},
                    "message": {"type": "string"}
                  }
                }
              },
              "shots": {"type": "array", "items": {"type": "object"}}
            }
          }}}},
          "400": {"description": "?? project_id????????????"},
          "401": {"description": "???"},
          "403": {"description": "??????????????????????"},
          "404": {"description": "??????????????????"}
        }
      }
    },
    "/api/gen/short-drama/voice": {
      "get": {
        "tags": ["??"],
        "summary": "???????????",
        "description": "????????????? voice_review ????????????????????????????????? X-Canvas-Board-Id?owner/editor/viewer ???",
        "security": [{"bearerAuth": []}],
        "parameters": [{ "$ref": "#/components/parameters/XCanvasBoardId" }, {
          "name": "project_id",
          "in": "query",
          "required": true,
          "schema": {"type": "string", "minLength": 1}
        }],
        "responses": {
          "200": {
            "description": "?????????",
            "content": {"application/json": {"schema": {
              "type": "object",
              "required": [
                "project_id", "revision", "stage", "ratio", "target_duration",
                "point_budget", "spent_points", "reserved_points",
                "unlocked_shot_count", "handoff_blocked", "handoff_blockers", "shots"
              ],
              "properties": {
                "project_id": {"type": "string"},
                "revision": {"type": "integer", "minimum": 1},
                "stage": {"type": "string", "enum": ["voice_review", "video_review", "assembly_review", "completed"]},
                "ratio": {"type": "string", "enum": ["9:16", "16:9"]},
                "target_duration": {"type": "integer", "enum": [30, 45, 60]},
                "point_budget": {"type": "integer", "minimum": 0},
                "spent_points": {"type": "integer", "minimum": 0},
                "reserved_points": {"type": "integer", "minimum": 0},
                "unlocked_shot_count": {"type": "integer", "minimum": 0},
                "handoff_blocked": {"type": "boolean"},
                "handoff_blockers": {"type": "array", "items": {
                  "type": "object",
                  "required": ["code", "message"],
                  "properties": {
                    "code": {"type": "string"},
                    "message": {"type": "string"},
                    "shot_id": {"type": "string"},
                    "line_id": {"type": "string"}
                  }
                }},
                "shots": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": ["id", "shot_key", "sort_order", "duration", "locked", "timeline_revision", "status", "lockable", "lock_blockers", "lines"],
                    "properties": {
                      "id": {"type": "string"},
                      "shot_key": {"type": "string"},
                      "sort_order": {"type": "integer"},
                      "duration": {"type": "integer", "enum": [5, 10]},
                      "locked": {"type": "boolean"},
                      "timeline_revision": {"type": "integer", "minimum": 1},
                      "status": {"type": "string", "enum": ["silent", "pending", "ready", "done", "failed"]},
                      "lockable": {"type": "boolean"},
                      "lock_blockers": {"type": "array", "items": {
                        "type": "object",
                        "required": ["code", "message"],
                        "properties": {
                          "code": {"type": "string"},
                          "message": {"type": "string"},
                          "shot_id": {"type": "string"},
                          "line_id": {"type": "string"}
                        }
                      }},
                      "lines": {"type": "array", "items": {
                        "type": "object",
                        "required": [
                          "id", "dialogue_line_id", "line_type", "sort_order",
                          "character_key", "character_name", "source_text", "speech_text",
                          "subtitle_text", "subtitle_visible", "voice_key", "speed", "pitch",
                          "volume", "current_version", "start_ms", "end_ms",
                          "suggested_start_ms", "suggested_end_ms", "input_hash",
                          "versions", "job"
                        ],
                        "properties": {
                          "id": {"type": "string"},
                          "dialogue_line_id": {"type": "string", "nullable": true},
                          "line_type": {"type": "string", "enum": ["dialogue", "narration"]},
                          "sort_order": {"type": "integer", "minimum": 0},
                          "character_key": {"type": "string"},
                          "character_name": {"type": "string"},
                          "source_text": {"type": "string"},
                          "speech_text": {"type": "string"},
                          "subtitle_text": {"type": "string"},
                          "subtitle_visible": {"type": "boolean"},
                          "voice_key": {"type": "string"},
                          "speed": {"type": "number", "minimum": 0.5, "maximum": 2.0},
                          "pitch": {"type": "integer", "minimum": -12, "maximum": 12},
                          "volume": {"type": "integer", "minimum": -50, "maximum": 100},
[...]
