{
  "openapi": "3.0.3",
  "info": {
    "title": "黄雀 AI · 后端接口总表",
    "version": "2.1.0",
    "description": "团队测试用接口文档。当前收录 283 条路径、297 个 HTTP 操作；覆盖内容功能注册表 77/77 个操作、短剧生产路由表 126/126 个操作，并补齐认证/账户、资产、数字化 IP、画布协作、充值支付等真实客户链路。\n\n线上状态：285 个 active，9 个 pending-deployment，2 个 routing-unavailable，1 个 deprecated。\n\n测速请优先选择 `x-hq-test-safety: safe-read`；Swagger UI 会显示 Request duration。state-write、destructive、may-charge、points-transfer、external-payment 均不得用于普通压测。充值/微信支付/虚拟支付接口只登记契约，未获专项授权不要执行。\n\n本团队文档不公开内部扣点/退款、管理员密钥与数据库写入、第三方回调及纯运维接口。"
  },
  "servers": [
    {
      "url": "https://huangquechuanmei.com",
      "description": "线上(nginx 按路径路由到各后端)"
    }
  ],
  "tags": [
    {
      "name": "认证",
      "description": "登录 / 用户信息 / 点数(auth 8095)"
    },
    {
      "name": "作图",
      "description": "gpt-image + nano banana(content 8096 / imggen 8101)"
    },
    {
      "name": "文案",
      "description": "AI 文案 / 分镜脚本(content 8096)"
    },
    {
      "name": "短剧策划",
      "description": "短剧项目、策划应用和阶段确认(content 8096)"
    },
    {
      "name": "配音音色",
      "description": "TTS 配音 + 个人音色克隆(content 8096)"
    },
    {
      "name": "视频",
      "description": "HeyGen 数字人视频(content 8096)"
    },
    {
      "name": "采集获客",
      "description": "内容爬取 + 关键词获客(leadgen 8100)"
    },
    {
      "name": "下载",
      "description": "无水印视频下载(dl 8097)"
    },
    {
      "name": "任务/历史/文件",
      "description": "异步任务轮询、生成历史、文件下载"
    },
    {
      "name": "健康",
      "description": "各服务健康检查"
    },
    {
      "name": "账号协作",
      "description": "昵称、好友、点数转移与多人画布"
    },
    {
      "name": "邀请",
      "description": "邀请活动配置、邀请码、邀请用户与奖励"
    },
    {
      "name": "灵感",
      "description": "公共灵感案例与用户收藏状态"
    },
    {
      "name": "资产",
      "description": "用户图片、音频、视频与形象资产管理"
    },
    {
      "name": "视频成片",
      "description": "已有视频分析、剪辑决策与模板渲染"
    },
    {
      "name": "画布 Agent",
      "description": "画布规划报价与异步 Agent 任务"
    },
    {
      "name": "价格",
      "description": "当前公开点数价格目录"
    },
    {
      "name": "名片与人脉",
      "description": "业务名片、公开媒体与邀请人脉"
    },
    {
      "name": "画布协作",
      "description": "多人画布创建、同步、成员与在线状态"
    },
    {
      "name": "通知",
      "description": "站内通知与微信订阅消息"
    },
    {
      "name": "充值支付",
      "description": "套餐、充值订单、微信支付和虚拟支付；禁止无授权测速写操作"
    },
    {
      "name": "数字化 IP",
      "description": "数字化 IP 资料、分析、报告与导出"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "小程序/CLI 等专用登录入口返回的 token"
      },
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "hq_session",
        "description": "网页登录或注册成功后写入的同域 HttpOnly 会话 Cookie"
      },
      "cardTokenAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-HQ-Card-Token",
        "description": "小程序独立名片会话返回的 card_token；只适用于明确支持名片会话的接口"
      }
    },
    "parameters": {
      "XCanvasBoardId": {
        "name": "X-Canvas-Board-Id",
        "in": "header",
        "required": false,
        "description": "Optional for a local short-drama project. Required for a shared short-drama project and must equal its board_id; owner/editor/viewer may read and owner/editor may write.",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 128
        }
      },
      "XCanvasBoardIdRequired": {
        "name": "X-Canvas-Board-Id",
        "in": "header",
        "required": true,
        "description": "Required collaboration board scope. It must resolve to the board that owns the digital-presenter project.",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 128
        }
      },
      "IdempotencyKeyRequired": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": true,
        "description": "Stable key for one paid generation submission. Reusing it with an identical normalized request replays the result; reusing it with different content returns 409.",
        "schema": {
          "type": "string",
          "pattern": "^[A-Za-z0-9._:-]{8,128}$"
        }
      }
    },
    "schemas": {
      "JobAccepted": {
        "type": "object",
        "description": "异步任务受理",
        "properties": {
          "job_id": {
            "type": "integer"
          },
          "cost": {
            "type": "integer",
            "description": "本次扣的点数"
          },
          "points_left": {
            "type": "integer"
          }
        }
      },
      "JobStatus": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "kind": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "running",
              "done",
              "error"
            ]
          },
          "result": {
            "description": "成功时结果；mode=short_drama 的 copy job 使用 ShortDramaPlanningResult。其他任务使用不带该 mode 的领域结果对象。",
            "oneOf": [
              {
                "$ref": "#/components/schemas/ShortDramaPlanningResult"
              },
              {
                "type": "object",
                "not": {
                  "required": [
                    "mode"
                  ],
                  "properties": {
                    "mode": {
                      "enum": [
                        "short_drama"
                      ]
                    }
                  }
                }
              }
            ]
          },
          "error": {
            "type": "string"
          },
          "created_at": {
            "type": "integer"
          },
          "updated_at": {
            "type": "integer"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "points": {
            "type": "integer"
          },
          "role": {
            "type": "string"
          },
          "must_change": {
            "type": "boolean"
          }
        }
      },
      "ShortDramaDialogueLine": {
        "type": "object",
        "required": [
          "character_key",
          "text"
        ],
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string",
            "maxLength": 80,
            "readOnly": true
          },
          "client_token": {
            "type": "string",
            "maxLength": 120,
            "writeOnly": true
          },
          "character_key": {
            "type": "string",
            "maxLength": 80
          },
          "speaker_name_snapshot": {
            "type": "string",
            "maxLength": 80,
            "readOnly": true
          },
          "text": {
            "type": "string",
            "maxLength": 4000
          },
          "subtitle_enabled": {
            "type": "boolean",
            "default": true
          },
          "voice_overrides": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "ShortDramaCharacter": {
        "description": "cinematic_avatar 的 avatar_id 必须引用当前用户本人拥有、未删除且可用的电影级数字人；ai_character 不要求 avatar_id。",
        "type": "object",
        "required": [
          "character_key",
          "name",
          "identity_text",
          "personality",
          "source_type",
          "appearance_prompt",
          "wardrobe_prompt",
          "voice_settings"
        ],
        "oneOf": [
          {
            "required": [
              "source_type"
            ],
            "properties": {
              "source_type": {
                "enum": [
                  "ai_character"
                ]
              },
              "avatar_id": {
                "type": "string",
                "nullable": true
              }
            }
          },
          {
            "required": [
              "source_type",
              "avatar_id"
            ],
            "properties": {
              "source_type": {
                "enum": [
                  "cinematic_avatar"
                ]
              },
              "avatar_id": {
                "type": "string",
                "minLength": 1
              }
            }
          }
        ],
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "project_id": {
            "type": "string",
            "readOnly": true
          },
          "character_key": {
            "type": "string",
            "maxLength": 80
          },
          "name": {
            "type": "string",
            "maxLength": 80
          },
          "identity_text": {
            "type": "string",
            "maxLength": 2000
          },
          "personality": {
            "type": "string",
            "maxLength": 2000
          },
          "source_type": {
            "type": "string",
            "enum": [
              "cinematic_avatar",
              "ai_character"
            ]
          },
          "avatar_id": {
            "type": "string",
            "nullable": true
          },
          "appearance_prompt": {
            "type": "string",
            "maxLength": 4000
          },
          "wardrobe_prompt": {
            "type": "string",
            "maxLength": 4000
          },
          "voice_key": {
            "type": "string",
            "nullable": true,
            "maxLength": 80
          },
          "voice_settings": {
            "type": "object",
            "additionalProperties": true
          },
          "sort_order": {
            "type": "integer",
            "readOnly": true
          }
        }
      },
      "ShortDramaCharacterContractItem": {
        "type": "object",
        "description": "role_type、gender、age、identity_text、relationships 以分号派生为实体 identity_text，合计不得超过 2,000 个字符。",
        "x-derivedIdentityMaxLength": 2000,
        "required": [
          "character_key",
          "name",
          "role_type",
          "reference_views"
        ],
        "additionalProperties": false,
        "properties": {
          "character_key": {
            "type": "string",
            "pattern": "^[a-z][a-z0-9_]{0,63}$"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80
          },
          "role_type": {
            "type": "string",
            "enum": [
              "main",
              "support",
              "crowd"
            ]
          },
          "gender": {
            "type": "string",
            "maxLength": 500
          },
          "identity_text": {
            "type": "string",
            "maxLength": 500
          },
          "relationships": {
            "type": "string",
            "maxLength": 500
          },
          "personality": {
            "type": "string",
            "maxLength": 500
          },
          "age": {
            "type": "string",
            "maxLength": 500
          },
          "face_shape": {
            "type": "string",
            "maxLength": 500
          },
          "hairstyle": {
            "type": "string",
            "maxLength": 500
          },
          "hair_color": {
            "type": "string",
            "maxLength": 500
          },
          "height_body": {
            "type": "string",
            "maxLength": 500
          },
          "fixed_clothing": {
            "type": "string",
            "maxLength": 500
          },
          "fixed_colors": {
            "type": "string",
            "maxLength": 500
          },
          "accessories": {
            "type": "string",
            "maxLength": 500
          },
          "appearance_prompt": {
            "type": "string",
            "maxLength": 500
          },
          "wardrobe_prompt": {
            "type": "string",
            "maxLength": 500
          },
          "reference_views": {
            "type": "array",
            "description": "新版合同使用背面全身；旧客户端的正面半身合同仍可导入，并由迁移门禁要求补齐背面全身。",
            "enum": [
              [
                "front_full",
                "side_full",
                "back_full"
              ],
              [
                "front_full",
                "side_full",
                "front_half"
              ]
            ]
          }
        }
      },
      "ShortDramaCharacterContract": {
        "type": "array",
        "maxItems": 20,
        "items": {
          "$ref": "#/components/schemas/ShortDramaCharacterContractItem"
        }
      },
      "ShortDramaImportRequest": {
        "type": "object",
        "required": [
          "title",
          "synopsis",
          "ratio",
          "target_duration",
          "shot_count",
          "visual_style",
          "source_text",
          "filename",
          "import_mode"
        ],
        "additionalProperties": false,
        "properties": {
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80
          },
          "synopsis": {
            "type": "string",
            "minLength": 8,
            "maxLength": 4000
          },
          "genre": {
            "type": "string",
            "maxLength": 40,
            "default": ""
          },
          "ratio": {
            "type": "string",
            "enum": [
              "9:16",
              "16:9"
            ]
          },
          "target_duration": {
            "type": "integer",
            "enum": [
              30,
              45,
              60
            ]
          },
          "shot_count": {
            "type": "integer",
            "minimum": 6,
            "maximum": 10
          },
          "visual_style": {
            "type": "string",
            "maxLength": 80
          },
          "source_text": {
            "type": "string",
            "minLength": 8,
            "maxLength": 50000
          },
          "source_requirement": {
            "type": "string",
            "enum": [
              "",
              "complete_story"
            ],
            "default": "",
            "description": "complete_story requires at least 100 characters and a complete beginning-to-ending story."
          },
          "filename": {
            "type": "string",
            "maxLength": 255
          },
          "import_mode": {
            "type": "string",
            "enum": [
              "faithful",
              "optimize"
            ]
          },
          "content_type": {
            "type": "string",
            "enum": [
              "live_action"
            ]
          },
          "character_contract": {
            "$ref": "#/components/schemas/ShortDramaCharacterContract"
          }
        }
      },
      "ShortDramaScriptVersion": {
        "type": "object",
        "required": [
          "title",
          "logline",
          "hook",
          "conflict_text",
          "turn_text",
          "ending",
          "dialogue_lines"
        ],
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "project_id": {
            "type": "string",
            "readOnly": true
          },
          "version": {
            "type": "integer",
            "readOnly": true,
            "minimum": 1
          },
          "title": {
            "type": "string",
            "maxLength": 80
          },
          "logline": {
            "type": "string",
            "maxLength": 4000
          },
          "hook": {
            "type": "string",
            "maxLength": 4000
          },
          "conflict_text": {
            "type": "string",
            "maxLength": 4000
          },
          "turn_text": {
            "type": "string",
            "maxLength": 4000
          },
          "ending": {
            "type": "string",
            "maxLength": 4000
          },
          "dialogue_lines": {
            "type": "array",
            "maxItems": 120,
            "items": {
              "$ref": "#/components/schemas/ShortDramaDialogueLine"
            }
          },
          "created_at": {
            "type": "integer",
            "readOnly": true
          }
        }
      },
      "ShortDramaShot": {
        "type": "object",
        "required": [
          "shot_key",
          "duration",
          "scene_description",
          "camera_description",
          "character_keys",
          "dialogue_line_ids",
          "image_prompt",
          "video_prompt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "project_id": {
            "type": "string",
            "readOnly": true
          },
          "script_version": {
            "type": "integer",
            "readOnly": true
          },
          "shot_key": {
            "type": "string",
            "maxLength": 80
          },
          "sort_order": {
            "type": "integer",
            "readOnly": true
          },
          "duration": {
            "type": "integer",
            "enum": [
              5,
              10
            ]
          },
          "scene_description": {
            "type": "string",
            "maxLength": 4000
          },
          "camera_description": {
            "type": "string",
            "maxLength": 4000
          },
          "character_keys": {
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string"
            }
          },
          "dialogue_line_ids": {
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string"
            }
          },
          "image_prompt": {
            "type": "string",
            "maxLength": 8000
          },
          "video_prompt": {
            "type": "string",
            "maxLength": 8000
          }
        }
      },
      "ShortDramaProject": {
        "type": "object",
        "required": [
          "id",
          "board_id",
          "title",
          "synopsis",
          "genre",
          "ratio",
          "target_duration",
          "shot_count",
          "visual_style",
          "target_platform",
          "point_budget",
          "spent_points",
          "stage",
          "revision",
          "characters",
          "script_versions",
          "dialogue_token_receipts",
          "shots"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "board_id": {
            "type": "string",
            "nullable": true,
            "readOnly": true,
            "description": "null for a local project; otherwise the collaboration board that scopes access."
          },
          "title": {
            "type": "string",
            "maxLength": 80
          },
          "synopsis": {
            "type": "string",
            "minLength": 8,
            "maxLength": 4000
          },
          "genre": {
            "type": "string",
            "maxLength": 40,
            "default": ""
          },
          "ratio": {
            "type": "string",
            "enum": [
              "9:16",
              "16:9"
            ]
          },
          "target_duration": {
            "type": "integer",
            "enum": [
              30,
              45,
              60
            ]
          },
          "shot_count": {
            "type": "integer",
            "minimum": 6,
            "maximum": 10
          },
          "visual_style": {
            "type": "string",
            "maxLength": 80,
            "default": "电影写实"
          },
          "target_platform": {
            "type": "string",
            "maxLength": 80,
            "default": "抖音"
          },
          "point_budget": {
            "type": "integer",
            "minimum": 0
          },
          "spent_points": {
            "type": "integer",
            "minimum": 0,
            "readOnly": true,
            "description": "当前项目已实际扣除且尚未确认退款的策划任务点数；任务入队扣点后立即计入，refunded=1 后移除。"
          },
          "stage": {
            "type": "string",
            "readOnly": true,
            "enum": [
              "draft",
              "characters_review",
              "script_review",
              "storyboard_review",
              "stills_review",
              "voice_review",
              "video_review",
              "assembly_review",
              "completed"
            ]
          },
          "revision": {
            "type": "integer",
            "readOnly": true,
            "minimum": 1
          },
          "created_at": {
            "type": "integer",
            "readOnly": true
          },
          "updated_at": {
            "type": "integer",
            "readOnly": true
          },
          "characters": {
            "type": "array",
            "maxItems": 20,
            "items": {
              "$ref": "#/components/schemas/ShortDramaCharacter"
            }
          },
          "script_versions": {
            "type": "array",
            "maxItems": 20,
            "items": {
              "$ref": "#/components/schemas/ShortDramaScriptVersion"
            }
          },
          "dialogue_token_receipts": {
            "type": "object",
            "readOnly": true,
            "description": "Active project-scoped client token to server line ID receipts for retry recovery.",
            "additionalProperties": {
              "type": "string",
              "maxLength": 80
            }
          },
          "shots": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ShortDramaShot"
            }
          }
        }
      },
      "ShortDramaProjectSummary": {
        "type": "object",
        "description": "项目列表使用的轻量摘要，不包含角色、剧本版本和分镜详情。",
        "required": [
          "id",
          "board_id",
          "title",
          "synopsis",
          "genre",
          "ratio",
          "target_duration",
          "shot_count",
          "visual_style",
          "target_platform",
          "point_budget",
          "spent_points",
          "stage",
          "revision",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "board_id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "title": {
            "type": "string"
          },
          "synopsis": {
            "type": "string"
          },
          "genre": {
            "type": "string",
            "maxLength": 40
          },
          "ratio": {
            "type": "string",
            "enum": [
              "9:16",
              "16:9"
            ]
          },
          "target_duration": {
            "type": "integer",
            "enum": [
              30,
              45,
              60
            ]
          },
          "shot_count": {
            "type": "integer",
            "minimum": 6,
            "maximum": 10
          },
          "visual_style": {
            "type": "string"
          },
          "target_platform": {
            "type": "string"
          },
          "point_budget": {
            "type": "integer",
            "minimum": 0
          },
          "spent_points": {
            "type": "integer",
            "minimum": 0
          },
          "stage": {
            "type": "string",
            "enum": [
              "draft",
              "characters_review",
              "script_review",
              "storyboard_review",
              "stills_review",
              "voice_review",
              "video_review",
              "assembly_review",
              "completed"
            ]
          },
          "revision": {
            "type": "integer",
            "minimum": 1
          },
          "created_at": {
            "type": "integer"
          },
          "updated_at": {
            "type": "integer"
          }
        }
      },
      "ShortDramaPlanningRequest": {
        "type": "object",
        "required": [
          "format",
          "project_id",
          "project_revision",
          "prompt",
          "dur",
          "ratio",
          "shot_count"
        ],
        "additionalProperties": false,
        "properties": {
          "project_id": {
            "type": "string",
            "format": "uuid"
          },
          "project_revision": {
            "type": "integer",
            "minimum": 1
          },
          "format": {
            "type": "string",
            "enum": [
              "short_drama"
            ]
          },
          "prompt": {
            "type": "string",
            "minLength": 1,
            "maxLength": 4000
          },
          "dur": {
            "type": "string",
            "enum": [
              "30s",
              "45s",
              "60s"
            ]
          },
          "ratio": {
            "type": "string",
            "enum": [
              "9:16",
              "16:9"
            ]
          },
          "shot_count": {
            "type": "integer",
            "minimum": 6,
            "maximum": 10
          },
          "style": {
            "type": "string",
            "maxLength": 80
          },
          "platform": {
            "type": "string",
            "maxLength": 80
          }
        }
      },
      "ShortDramaPlanningResult": {
        "type": "object",
        "required": [
          "type",
          "mode",
          "project_id",
          "project_revision",
          "settings",
          "plan",
          "prompt",
          "dur",
          "ratio",
          "shot_count"
        ],
        "additionalProperties": false,
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "copy"
            ]
          },
          "mode": {
            "type": "string",
            "enum": [
              "short_drama"
            ]
          },
          "project_id": {
            "type": "string",
            "format": "uuid"
          },
          "project_revision": {
            "type": "integer",
            "minimum": 1
          },
          "settings": {
            "type": "object",
            "required": [
              "ratio",
              "target_duration",
              "shot_count"
            ],
            "additionalProperties": false,
            "properties": {
              "ratio": {
                "type": "string",
                "enum": [
                  "9:16",
                  "16:9"
                ]
              },
              "target_duration": {
                "type": "integer",
                "enum": [
                  30,
                  45,
                  60
                ]
              },
              "shot_count": {
                "type": "integer",
                "minimum": 6,
                "maximum": 10
              }
            }
          },
          "prompt": {
            "type": "string"
          },
          "dur": {
            "type": "string",
            "enum": [
              "30s",
              "45s",
              "60s"
            ]
          },
          "ratio": {
            "type": "string",
            "enum": [
              "9:16",
              "16:9"
            ]
          },
          "shot_count": {
            "type": "integer",
            "minimum": 6,
            "maximum": 10
          },
          "plan": {
            "type": "object",
            "required": [
              "title",
              "logline",
              "characters",
              "script",
              "shots"
            ],
            "additionalProperties": false,
            "properties": {
              "title": {
                "type": "string"
              },
              "logline": {
                "type": "string"
              },
              "characters": {
                "type": "array",
                "maxItems": 20,
                "items": {
                  "type": "object",
                  "required": [
                    "key",
                    "name",
                    "identity",
                    "identity_text",
                    "personality",
                    "appearance_prompt",
                    "wardrobe_prompt",
                    "source_type",
                    "voice_key",
                    "voice_settings"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "key": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "identity": {
                      "type": "string"
                    },
                    "identity_text": {
                      "type": "string"
                    },
                    "personality": {
                      "type": "string"
                    },
                    "appearance_prompt": {
                      "type": "string"
                    },
                    "wardrobe_prompt": {
                      "type": "string"
                    },
                    "source_type": {
                      "type": "string",
                      "enum": [
                        "cinematic_avatar",
                        "ai_character"
                      ]
                    },
                    "voice_key": {
                      "type": "string",
                      "nullable": true
                    },
                    "voice_settings": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              },
              "script": {
                "type": "object",
                "required": [
                  "title",
                  "logline",
                  "hook",
                  "conflict",
                  "conflict_text",
                  "turn",
                  "turn_text",
                  "ending",
                  "dialogue_lines"
                ],
                "additionalProperties": false,
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "logline": {
                    "type": "string"
                  },
                  "hook": {
                    "type": "string"
                  },
                  "conflict": {
                    "type": "string"
                  },
                  "conflict_text": {
                    "type": "string"
                  },
                  "turn": {
                    "type": "string"
                  },
                  "turn_text": {
                    "type": "string"
                  },
                  "ending": {
                    "type": "string"
                  },
                  "dialogue_lines": {
                    "type": "array",
                    "maxItems": 120,
                    "items": {
                      "$ref": "#/components/schemas/ShortDramaDialogueLine"
                    }
                  }
                }
              },
              "shots": {
                "type": "array",
                "minItems": 6,
                "maxItems": 10,
                "items": {
                  "type": "object",
                  "required": [
                    "key",
                    "duration",
                    "scene_description",
                    "camera_description",
                    "character_keys",
                    "dialogue_line_ids",
                    "image_prompt",
                    "video_prompt"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "key": {
                      "type": "string"
                    },
                    "duration": {
                      "type": "integer",
                      "enum": [
                        5,
                        10
                      ]
                    },
                    "scene_description": {
                      "type": "string"
                    },
                    "camera_description": {
                      "type": "string"
                    },
                    "character_keys": {
                      "type": "array",
                      "uniqueItems": true,
                      "items": {
                        "type": "string"
                      }
                    },
                    "dialogue_line_ids": {
                      "type": "array",
                      "uniqueItems": true,
                      "items": {
                        "type": "string"
                      }
                    },
                    "image_prompt": {
                      "type": "string"
                    },
                    "video_prompt": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ShortDramaStillRequest": {
        "type": "object",
        "required": [
          "project_id",
          "revision",
          "shot_id",
          "prompt",
          "mode",
          "count"
        ],
        "additionalProperties": false,
        "properties": {
          "project_id": {
            "type": "string",
            "minLength": 1
          },
          "revision": {
            "type": "integer",
            "minimum": 1
          },
          "shot_id": {
            "type": "string",
            "minLength": 1
          },
          "prompt": {
            "type": "string",
            "description": "可选的本次生成补充要求；分镜 image_prompt 由服务端单独读取，客户端不应重复提交。"
          },
          "mode": {
            "type": "string",
            "enum": [
              "single",
              "retry",
              "batch"
            ]
          },
          "count": {
            "type": "integer",
            "enum": [
              2
            ],
            "description": "The server accepts exactly two candidates per request."
          }
        }
      },
      "ShortDramaStillSubmission": {
        "type": "object",
        "required": [
          "project_id",
          "revision",
          "shot_id",
          "prompt",
          "mode",
          "count",
          "quote_token"
        ],
        "additionalProperties": false,
        "properties": {
          "project_id": {
            "type": "string",
            "minLength": 1
          },
          "revision": {
            "type": "integer",
            "minimum": 1
          },
          "shot_id": {
            "type": "string",
            "minLength": 1
          },
          "prompt": {
            "type": "string"
          },
          "mode": {
            "type": "string",
            "enum": [
              "single",
              "retry",
              "batch"
            ]
          },
          "count": {
            "type": "integer",
            "enum": [
              2
            ]
          },
          "quote_token": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          }
        }
      },
      "ShortDramaStillQuote": {
        "type": "object",
        "required": [
          "cost",
          "count",
          "kind",
          "quote_token",
          "expires_at",
          "shot_id",
          "base_prompt",
          "user_direction",
          "compiled_prompt",
          "source_prompt_hash"
        ],
        "additionalProperties": false,
        "properties": {
          "cost": {
            "type": "integer",
            "minimum": 0
          },
          "count": {
            "type": "integer",
            "enum": [
              2
            ]
          },
          "kind": {
            "type": "string",
            "enum": [
              "still"
            ]
          },
          "quote_token": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$"
          },
          "expires_at": {
            "type": "integer",
            "description": "Unix timestamp; quotes expire after 300 seconds."
          },
          "shot_id": {
            "type": "string"
          },
          "base_prompt": {
            "type": "string",
            "description": "服务器当前已确认的分镜画面提示词。"
          },
          "user_direction": {
            "type": "string",
            "description": "本次生成的可选补充要求。"
          },
          "compiled_prompt": {
            "type": "string",
            "description": "加入角色、镜头、连续性和质量约束后真正提交给模型的提示词。"
          },
          "source_prompt_hash": {
            "type": "string",
            "pattern": "^[a-f0-9]{64}$"
          },
          "snapshot_id": {
            "type": "string",
            "nullable": true,
            "description": "启用资产图谱时，本报价绑定的不可变镜头快照。"
          },
          "package_hash": {
            "type": "string",
            "nullable": true,
            "pattern": "^[a-f0-9]{64}$"
          },
          "graph_revision": {
            "type": "integer",
            "nullable": true,
            "minimum": 1
          }
        }
      },
      "ShortDramaAssetSelectionRequest": {
        "type": "object",
        "required": [
          "project_id",
          "revision",
          "asset_id",
          "version",
          "lock"
        ],
        "additionalProperties": false,
        "properties": {
          "project_id": {
            "type": "string",
            "minLength": 1
          },
          "revision": {
            "type": "integer",
            "minimum": 1
          },
          "asset_id": {
            "type": "string",
            "minLength": 1
          },
          "version": {
            "type": "integer",
            "minimum": 1
          },
          "lock": {
            "type": "boolean"
          }
        }
      },
      "ShortDramaProductionStageRequest": {
        "type": "object",
        "required": [
          "project_id",
          "revision",
          "stage"
        ],
        "additionalProperties": false,
        "properties": {
          "project_id": {
            "type": "string",
            "minLength": 1
          },
          "revision": {
            "type": "integer",
            "minimum": 1
          },
          "stage": {
            "type": "string",
            "enum": [
              "stills_review",
              "video_review"
            ]
          }
        }
      },
      "ShortDramaStillJobAccepted": {
        "type": "object",
        "required": [
          "job_id",
          "cost",
          "points_left",
          "project_id",
          "shot_id"
        ],
        "additionalProperties": false,
        "properties": {
          "job_id": {
            "type": "integer",
            "minimum": 1
          },
          "cost": {
            "type": "integer",
            "minimum": 0
          },
          "points_left": {
            "type": "integer",
            "minimum": 0
          },
          "project_id": {
            "type": "string"
          },
          "shot_id": {
            "type": "string"
          }
        }
      },
      "ShortDramaProductionWorkspace": {
        "type": "object",
        "required": [
          "project_id",
          "revision",
          "stage",
          "ratio",
          "point_budget",
          "spent_points",
          "reserved_points",
          "handoff_blocked",
          "handoff_blockers",
          "shots"
        ],
        "additionalProperties": false,
        "properties": {
          "project_id": {
            "type": "string"
          },
          "revision": {
            "type": "integer",
            "minimum": 1
          },
          "stage": {
            "type": "string",
            "enum": [
              "stills_review",
              "voice_review",
              "video_review",
              "assembly_review",
              "completed"
            ]
          },
          "ratio": {
            "type": "string",
            "enum": [
              "9:16",
              "16:9"
            ]
          },
          "point_budget": {
            "type": "integer",
            "minimum": 0
          },
          "spent_points": {
            "type": "integer",
            "minimum": 0
          },
          "reserved_points": {
            "type": "integer",
            "minimum": 0
          },
          "handoff_blocked": {
            "type": "boolean"
          },
          "handoff_blockers": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "code",
                "message"
              ],
              "additionalProperties": false,
              "properties": {
                "code": {
                  "type": "string",
                  "enum": [
                    "missing_locked_still",
                    "active_job",
                    "refund_pending",
                    "charge_attempt_pending",
                    "ledger_inconsistent"
                  ]
                },
                "shot_id": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "shots": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "id",
                "shot_key",
                "sort_order",
                "duration",
                "image_prompt",
                "references",
                "still"
              ],
              "additionalProperties": false,
              "properties": {
                "id": {
                  "type": "string"
                },
                "shot_key": {
                  "type": "string"
                },
                "sort_order": {
                  "type": "integer",
                  "minimum": 0
                },
                "duration": {
                  "type": "integer",
                  "enum": [
                    5,
                    10
                  ]
                },
                "image_prompt": {
                  "type": "string"
                },
                "references": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "type": "object",
                        "required": [
                          "type",
                          "id",
                          "name",
                          "source_type",
                          "source_id"
                        ],
                        "additionalProperties": false,
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "character"
                            ]
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "source_type": {
                            "type": "string",
                            "enum": [
                              "cinematic_avatar",
                              "ai_character"
                            ]
                          },
                          "source_id": {
                            "type": "string"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "required": [
                          "type",
                          "id",
                          "name",
                          "url",
                          "ratio"
                        ],
                        "additionalProperties": false,
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "continuity"
                            ]
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string",
                            "format": "uri-reference"
                          },
                          "ratio": {
                            "type": "string",
                            "enum": [
                              "9:16",
                              "16:9"
                            ]
                          }
                        }
                      }
                    ]
                  }
                },
                "still": {
                  "type": "object",
                  "required": [
                    "asset_id",
                    "current_version",
                    "locked",
                    "versions",
                    "job"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "asset_id": {
                      "type": "string"
                    },
                    "current_version": {
                      "type": "integer",
                      "minimum": 1,
                      "nullable": true
                    },
                    "locked": {
                      "type": "boolean"
                    },
                    "versions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "version",
                          "job_id",
                          "url",
                          "prompt",
                          "ratio",
                          "cost",
                          "status",
                          "created_at"
                        ],
                        "additionalProperties": false,
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "version": {
                            "type": "integer",
                            "minimum": 1
                          },
                          "job_id": {
                            "type": "integer",
                            "minimum": 1
                          },
                          "url": {
                            "type": "string",
                            "format": "uri-reference"
                          },
                          "prompt": {
                            "type": "string"
                          },
                          "ratio": {
                            "type": "string",
                            "enum": [
                              "9:16",
                              "16:9"
                            ]
                          },
                          "cost": {
                            "type": "integer",
                            "minimum": 0
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "done",
                              "failed"
                            ]
                          },
                          "created_at": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "job": {
                      "type": "object",
                      "nullable": true,
                      "required": [
                        "id",
                        "job_id",
                        "kind",
                        "status",
                        "quoted_cost",
                        "error",
                        "refunded",
                        "refund_pending"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "job_id": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "kind": {
                          "type": "string",
                          "enum": [
                            "still"
                          ]
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "pending",
                            "running",
                            "failed"
                          ]
                        },
                        "quoted_cost": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "error": {
                          "type": "string"
                        },
                        "refunded": {
                          "type": "boolean"
                        },
                        "refund_pending": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ShortDramaAssemblyBlocker": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "additionalProperties": false,
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "missing_locked_voice_shot",
              "missing_locked_video_shot",
              "missing_current_voice_version",
              "missing_current_video_version",
              "stale_voice_version",
              "stale_video_version",
              "missing_source_file",
              "source_file_untrusted",
              "ffprobe_unavailable",
              "media_probe_failed",
              "ratio_mismatch",
              "clip_duration_mismatch",
              "timeline_invalid",
              "audio_overlap",
              "subtitle_overlap",
              "project_duration_mismatch",
              "source_changed_during_probe",
              "missing_d1_media_plan",
              "bgm_asset_missing",
              "bgm_asset_forbidden",
              "bgm_source_untrusted",
              "bgm_probe_failed",
              "active_composition_job",
              "preview_missing",
              "final_missing",
              "active_lipsync_job",
              "lipsync_plan_missing",
              "lipsync_plan_invalid",
              "lipsync_dependency_changed",
              "lipsync_selection_changed",
              "lipsync_job_not_succeeded",
              "lipsync_billing_unsettled",
              "lipsync_source_hash_mismatch",
              "lipsync_manifest_invalid",
              "lipsync_manifest_mismatch"
            ]
          },
          "message": {
            "type": "string"
          },
          "shot_id": {
            "type": "string"
          },
          "line_id": {
            "type": "string"
          }
        }
      },
      "ShortDramaAssemblyShot": {
        "type": "object",
        "required": [
          "id",
          "shot_key",
          "sort_order",
          "duration",
          "voice",
          "video",
          "ready",
          "blockers"
        ],
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          },
          "shot_key": {
            "type": "string"
          },
          "sort_order": {
            "type": "integer",
            "minimum": 0
          },
          "duration": {
            "type": "integer",
            "enum": [
              5,
              10
            ]
          },
          "voice": {
            "type": "object",
            "required": [
              "locked",
              "status",
              "timeline_revision",
              "lines"
            ],
            "additionalProperties": false,
            "properties": {
              "locked": {
                "type": "boolean"
              },
              "status": {
                "type": "string",
                "enum": [
                  "ready",
                  "blocked"
                ]
              },
              "timeline_revision": {
                "type": "integer",
                "minimum": 1,
                "nullable": true
              },
              "lines": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          },
          "video": {
            "type": "object",
            "required": [
              "confirmed",
              "status",
              "current_version",
              "video_revision",
              "source",
              "probe",
              "source_kind",
              "lipsync"
            ],
            "additionalProperties": false,
            "properties": {
              "confirmed": {
                "type": "boolean"
              },
              "status": {
                "type": "string",
                "enum": [
                  "ready",
                  "blocked"
                ]
              },
              "current_version": {
                "type": "integer",
                "minimum": 1,
                "nullable": true
              },
              "video_revision": {
                "type": "integer",
                "minimum": 1,
                "nullable": true
              },
              "source": {
                "type": "object",
                "nullable": true
              },
              "probe": {
                "type": "object",
                "nullable": true
              },
              "source_kind": {
                "type": "string",
                "enum": [
                  "standard",
                  "lipsync"
                ]
              },
              "lipsync": {
                "type": "object",
                "nullable": true
              }
            }
          },
          "ready": {
            "type": "boolean"
          },
          "blockers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ShortDramaAssemblyBlocker"
            }
          }
        }
      },
      "ShortDramaCompositionVersion": {
        "type": "object",
        "required": [
          "id",
          "kind",
          "version",
          "job_id",
          "input_hash",
          "config",
          "url",
          "cover_url",
          "duration_ms",
          "width",
          "height",
          "fps",
          "video_codec",
          "audio_codec",
          "status",
          "global_video_asset_id",
          "created_at"
        ],
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "enum": [
              "preview",
              "final"
            ]
          },
          "version": {
            "type": "integer",
            "minimum": 1
          },
          "job_id": {
            "type": "string"
          },
          "input_hash": {
            "type": "string"
          },
          "config": {
            "type": "object"
          },
          "plan_hash": {
            "type": "string"
          },
          "manifest_hash": {
            "type": "string"
          },
          "manifest": {
            "type": "object"
          },
          "url": {
            "type": "string",
            "format": "uri-reference"
          },
          "cover_url": {
            "type": "string",
            "format": "uri-reference"
          },
          "duration_ms": {
            "type": "integer",
            "minimum": 1,
            "nullable": true
          },
          "width": {
            "type": "integer",
            "minimum": 1,
            "nullable": true
          },
          "height": {
            "type": "integer",
            "minimum": 1,
            "nullable": true
          },
          "fps": {
            "type": "number",
            "exclusiveMinimum": true,
            "minimum": 0,
            "nullable": true
          },
          "video_codec": {
            "type": "string"
          },
          "audio_codec": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "rendering",
              "succeeded",
              "failed",
              "stale"
            ]
          },
          "global_video_asset_id": {
            "type": "integer",
            "minimum": 1,
            "nullable": true
          },
          "asset_id": {
            "type": "string"
          },
          "created_by": {
            "type": "string"
          },
          "object_key": {
            "type": "string"
          },
          "cover_key": {
            "type": "string"
          },
          "sha256": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "minimum": 0,
            "nullable": true
          },
          "created_at": {
            "type": "integer"
          }
        }
      },
      "ShortDramaCompositionJob": {
        "type": "object",
        "nullable": true,
        "required": [
          "job_id",
          "kind",
          "status",
          "phase",
          "progress",
          "error_code",
          "error_message",
          "attempt_count",
          "created_at",
          "updated_at",
          "finished_at"
        ],
        "additionalProperties": false,
        "properties": {
          "job_id": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "enum": [
              "preview",
              "final"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "running",
              "succeeded",
              "failed"
            ]
          },
          "phase": {
            "type": "string"
          },
          "progress": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "error_code": {
            "type": "string"
          },
          "error_message": {
            "type": "string"
          },
          "attempt_count": {
            "type": "integer",
            "minimum": 0
          },
          "created_at": {
            "type": "integer"
          },
          "updated_at": {
            "type": "integer"
          },
          "finished_at": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "ShortDramaAssemblyWorkspace": {
        "type": "object",
        "required": [
          "project_id",
          "revision",
          "stage",
          "ratio",
          "target_duration",
          "assembly_revision",
          "config",
          "current_preview_version",
          "current_final_version",
          "preview_locked",
          "implementation_status",
          "rendering_enabled",
          "planner_version",
          "input_hash",
          "media_plan",
          "audio_subtitle",
          "master_audio",
          "lipsync_assembly",
          "shots",
          "versions",
          "active_job",
          "latest_job",
          "readiness",
          "actions",
          "blockers",
          "completion"
        ],
        "additionalProperties": false,
        "properties": {
          "project_id": {
            "type": "string"
          },
          "revision": {
            "type": "integer",
            "minimum": 1
          },
          "stage": {
            "type": "string",
            "enum": [
              "assembly_review",
              "completed"
            ]
          },
          "ratio": {
            "type": "string",
            "enum": [
              "9:16",
              "16:9"
            ]
          },
          "target_duration": {
            "type": "integer",
            "enum": [
              30,
              45,
              60
            ]
          },
          "assembly_revision": {
            "type": "integer",
            "minimum": 1
          },
          "config": {
            "type": "object",
            "required": [
              "subtitle",
              "bgm",
              "profiles"
            ],
            "additionalProperties": false,
            "properties": {
              "subtitle": {
                "type": "object",
                "required": [
                  "enabled",
                  "preset",
                  "position"
                ],
                "additionalProperties": false,
                "properties": {
                  "enabled": {
                    "type": "boolean"
                  },
                  "preset": {
                    "type": "string",
                    "enum": [
                      "white_outline"
                    ]
                  },
                  "position": {
                    "type": "string",
                    "enum": [
                      "bottom",
                      "top"
                    ]
                  }
                }
              },
              "bgm": {
                "type": "object",
                "required": [
                  "asset_id",
                  "volume",
                  "fade_in_ms",
                  "fade_out_ms"
                ],
                "additionalProperties": false,
                "properties": {
                  "asset_id": {
                    "type": "string",
                    "nullable": true
                  },
                  "volume": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1
                  },
                  "fade_in_ms": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "fade_out_ms": {
                    "type": "integer",
                    "minimum": 0
                  }
                }
              },
              "profiles": {
                "type": "object",
                "required": [
                  "preview",
                  "final"
                ],
                "additionalProperties": false,
                "properties": {
                  "preview": {
                    "type": "string",
                    "enum": [
                      "short_drama_preview_v1"
                    ]
                  },
                  "final": {
                    "type": "string",
                    "enum": [
                      "short_drama_final_v1"
                    ]
                  }
                }
              }
            }
          },
          "current_preview_version": {
            "type": "integer",
            "minimum": 1,
            "nullable": true
          },
          "current_final_version": {
            "type": "integer",
            "minimum": 1,
            "nullable": true
          },
          "preview_locked": {
            "type": "boolean"
          },
          "implementation_status": {
            "type": "string",
            "enum": [
              "formal_export"
            ]
          },
          "rendering_enabled": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "planner_version": {
            "type": "string",
            "enum": [
              "short_drama_media_plan_v1"
            ]
          },
          "input_hash": {
            "type": "string",
            "nullable": true
          },
          "media_plan": {
            "type": "object",
            "nullable": true
          },
          "audio_subtitle": {
            "type": "object",
            "required": [
              "engine_version",
              "input_hash",
              "status",
              "error_code",
              "artifacts",
              "blockers",
              "bgm_source"
            ],
            "additionalProperties": true,
            "properties": {
              "engine_version": {
                "type": "string",
                "enum": [
                  "short_drama_audio_subtitle_v1"
                ]
              },
              "input_hash": {
                "type": "string",
                "nullable": true
              },
              "status": {
                "type": "string",
                "enum": [
                  "blocked",
                  "not_built",
                  "building",
                  "ready",
                  "failed",
                  "stale"
                ]
              },
              "error_code": {
                "type": "string"
              },
              "artifacts": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "blockers": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ShortDramaAssemblyBlocker"
                }
              },
              "bgm_source": {
                "type": "object",
                "nullable": true
              }
            }
          },
          "master_audio": {
            "type": "object",
            "required": [
              "engine_version",
              "contract_version",
              "master_audio_hash",
              "status",
              "cache_hit",
              "duration_ms",
              "sample_rate",
              "channels",
              "codec",
              "artifact",
              "timeline",
              "blockers"
            ],
            "additionalProperties": false,
            "properties": {
              "engine_version": {
                "type": "string",
                "enum": [
                  "short_drama_master_audio_v1"
                ]
              },
              "contract_version": {
                "type": "string",
                "enum": [
                  "short_drama_master_timeline_v1"
                ]
              },
              "master_audio_hash": {
                "type": "string",
                "nullable": true
              },
              "status": {
                "type": "string",
                "enum": [
                  "blocked",
                  "not_built",
                  "building",
                  "ready",
                  "failed",
                  "stale"
                ]
              },
              "cache_hit": {
                "type": "boolean"
              },
              "duration_ms": {
                "type": "integer",
                "nullable": true
              },
              "sample_rate": {
                "type": "integer",
                "enum": [
                  48000
                ]
              },
              "channels": {
                "type": "integer",
                "enum": [
                  2
                ]
              },
              "codec": {
                "type": "string",
                "enum": [
                  "pcm_s16le"
                ]
              },
              "artifact": {
                "type": "object",
                "nullable": true
              },
              "timeline": {
                "type": "object"
              },
              "blockers": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ShortDramaAssemblyBlocker"
                }
              }
            }
          },
          "lipsync_assembly": {
            "type": "object",
            "nullable": true,
            "description": "PR-H 固化的口型素材选择、依赖哈希及不可变版本证据"
          },
          "shots": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ShortDramaAssemblyShot"
            }
          },
          "versions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ShortDramaCompositionVersion"
            }
          },
          "active_job": {
            "$ref": "#/components/schemas/ShortDramaCompositionJob"
          },
          "latest_job": {
            "$ref": "#/components/schemas/ShortDramaCompositionJob"
          },
          "readiness": {
            "type": "object",
            "required": [
              "ready",
              "blockers"
            ],
            "additionalProperties": false,
            "properties": {
              "ready": {
                "type": "boolean"
              },
              "blockers": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ShortDramaAssemblyBlocker"
                }
              }
            }
          },
          "actions": {
            "type": "object",
            "required": [
              "can_save_config",
              "can_preview",
              "can_lock_preview",
              "can_export",
              "can_confirm"
            ],
            "additionalProperties": false,
            "properties": {
              "can_save_config": {
                "type": "boolean",
                "enum": [
                  false
                ]
              },
              "can_preview": {
                "type": "boolean"
              },
              "can_lock_preview": {
                "type": "boolean",
                "enum": [
                  false
                ]
              },
              "can_export": {
                "type": "boolean"
              },
              "can_confirm": {
                "type": "boolean"
              }
            }
          },
          "blockers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ShortDramaAssemblyBlocker"
            }
          },
          "completion": {
            "$ref": "#/components/schemas/ShortDramaCompletionReadiness"
          }
        }
      },
      "ShortDramaCompletionBlocker": {
        "type": "object",
        "required": [
          "code",
          "domain",
          "entity_id",
          "message",
          "recommended_action"
        ],
        "additionalProperties": false,
        "properties": {
          "code": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "entity_id": {
            "type": "string",
            "nullable": true
          },
          "message": {
            "type": "string"
          },
          "recommended_action": {
            "type": "string"
          }
        }
      },
      "ShortDramaCompletionSummary": {
        "type": "object",
        "required": [
          "completion_id",
          "project_id",
          "stage",
          "revision",
          "base_revision",
          "final_version_id",
          "asset_id",
          "delivery_hash",
          "completed_by",
          "completed_at",
          "snapshot",
          "replayed"
        ],
        "additionalProperties": false,
        "properties": {
          "completion_id": {
            "type": "string",
            "format": "uuid"
          },
          "project_id": {
            "type": "string"
          },
          "stage": {
            "type": "string",
            "enum": [
              "completed"
            ]
          },
          "revision": {
            "type": "integer",
            "minimum": 2
          },
          "base_revision": {
            "type": "integer",
            "minimum": 1
          },
          "final_version_id": {
            "type": "string"
          },
          "asset_id": {
            "type": "string"
          },
          "delivery_hash": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          },
          "completed_by": {
            "type": "string"
          },
          "completed_at": {
            "type": "integer"
          },
          "snapshot": {
            "type": "object"
          },
          "replayed": {
            "type": "boolean"
          }
        }
      },
      "ShortDramaCompletionReadiness": {
        "type": "object",
        "required": [
          "project_id",
          "revision",
          "stage",
          "feature_enabled",
          "ready",
          "blockers",
          "delivery_hash",
          "checked_at"
        ],
        "additionalProperties": true,
        "properties": {
          "project_id": {
            "type": "string"
          },
          "revision": {
            "type": "integer",
            "minimum": 1
          },
          "stage": {
            "type": "string",
            "enum": [
              "assembly_review",
              "completed"
            ]
          },
          "feature_enabled": {
            "type": "boolean"
          },
          "ready": {
            "type": "boolean"
          },
          "blockers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ShortDramaCompletionBlocker"
            }
          },
          "delivery_hash": {
            "type": "string"
          },
          "checked_at": {
            "type": "integer"
          },
          "expires_at": {
            "type": "integer"
          },
          "final_version": {
            "type": "object"
          },
          "asset": {
            "type": "object"
          },
          "locks": {
            "type": "object"
          },
          "billing": {
            "type": "object"
          },
          "completion": {
            "$ref": "#/components/schemas/ShortDramaCompletionSummary"
          }
        }
      },
      "ShortDramaCompletionRequest": {
        "type": "object",
        "required": [
          "project_id",
          "revision",
          "final_version_id",
          "asset_id",
          "delivery_hash",
          "acknowledged"
        ],
        "additionalProperties": false,
        "properties": {
          "project_id": {
            "type": "string",
            "minLength": 1
          },
          "revision": {
            "type": "integer",
            "minimum": 1
          },
          "final_version_id": {
            "type": "string",
            "minLength": 1
          },
          "asset_id": {
            "type": "string",
            "minLength": 1
          },
          "delivery_hash": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          },
          "acknowledged": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        }
      },
      "ShortDramaPreviewRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "project_id",
          "revision",
          "assembly_revision"
        ],
        "properties": {
          "project_id": {
            "type": "string",
            "minLength": 1
          },
          "revision": {
            "type": "integer",
            "minimum": 1
          },
          "assembly_revision": {
            "type": "integer",
            "minimum": 1
          }
        }
      },
      "ShortDramaPreviewSubmission": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "project_id",
          "job_id",
          "status",
          "replayed"
        ],
        "properties": {
          "project_id": {
            "type": "string"
          },
          "job_id": {
            "type": "integer",
            "minimum": 1
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "running",
              "succeeded",
              "failed"
            ]
          },
          "replayed": {
            "type": "boolean"
          }
        }
      },
      "ShortDramaFinalQuoteRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "project_id",
          "revision",
          "assembly_revision",
          "preview_version"
        ],
        "properties": {
          "project_id": {
            "type": "string",
            "minLength": 1
          },
          "revision": {
            "type": "integer",
            "minimum": 1
          },
          "assembly_revision": {
            "type": "integer",
            "minimum": 1
          },
          "preview_version": {
            "type": "integer",
            "minimum": 1
          },
          "cover_time_ms": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "ShortDramaFinalExportRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ShortDramaFinalQuoteRequest"
          },
          {
            "type": "object",
            "required": [
              "cover_time_ms",
              "quote_token"
            ],
            "properties": {
              "quote_token": {
                "type": "string",
                "pattern": "^[0-9a-f]{32}$"
              }
            }
          }
        ]
      },
      "ShortDramaFinalSubmission": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "project_id",
          "job_id",
          "status",
          "cost",
          "replayed"
        ],
        "properties": {
          "project_id": {
            "type": "string"
          },
          "job_id": {
            "type": "integer",
            "minimum": 1
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "running",
              "succeeded",
              "failed"
            ]
          },
          "cost": {
            "type": "integer",
            "minimum": 0
          },
          "replayed": {
            "type": "boolean"
          }
        }
      },
      "FaceTarget": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "value"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "character"
            ]
          },
          "value": {
            "type": "string",
            "minLength": 1
          }
        }
      },
      "ShortDramaLipsyncBlocker": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "code",
          "scope",
          "entity_id",
          "message",
          "repair_action"
        ],
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "missing_master_timeline",
              "timeline_stale",
              "missing_locked_visual",
              "missing_locked_audio",
              "missing_face_target",
              "overlapping_visible_speech",
              "alignment_stale",
              "alignment_review_incomplete",
              "active_lipsync_job",
              "provider_not_selected",
              "provider_unsupported",
              "project_stage_readonly"
            ]
          },
          "scope": {
            "type": "string",
            "enum": [
              "project",
              "shot",
              "segment"
            ]
          },
          "entity_id": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "repair_action": {
            "type": "string"
          }
        }
      },
      "ShortDramaLipsyncSnapshot": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "project_id",
          "revision",
          "generated_at",
          "contract_version",
          "hash_algorithm_version",
          "input_hash",
          "dependencies",
          "blockers",
          "can_quote",
          "active_jobs",
          "versions",
          "current_version",
          "stale",
          "permissions",
          "readiness",
          "features",
          "billing"
        ],
        "properties": {
          "project_id": {
            "type": "string"
          },
          "revision": {
            "type": "integer",
            "minimum": 1
          },
          "generated_at": {
            "type": "integer",
            "minimum": 0
          },
          "contract_version": {
            "type": "string",
            "enum": [
              "short-drama-lipsync-v1"
            ]
          },
          "hash_algorithm_version": {
            "type": "string",
            "enum": [
              "canonical-json-sha256-v1"
            ]
          },
          "input_hash": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          },
          "dependencies": {
            "type": "object",
            "required": [
              "timeline",
              "visual_sources",
              "audio",
              "alignment",
              "speakers",
              "provider_catalog"
            ],
            "additionalProperties": false,
            "properties": {
              "timeline": {
                "type": "object"
              },
              "visual_sources": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "audio": {
                "type": "object"
              },
              "alignment": {
                "type": "object"
              },
              "speakers": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "provider_catalog": {
                "type": "object"
              }
            }
          },
          "blockers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ShortDramaLipsyncBlocker"
            }
          },
          "can_quote": {
            "type": "boolean"
          },
          "active_jobs": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "billing": {
            "type": "object",
            "required": [
              "unsettled",
              "refund_pending",
              "manual_review"
            ],
            "properties": {
              "unsettled": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "refund_pending": {
                "type": "integer",
                "minimum": 0
              },
              "manual_review": {
                "type": "integer",
                "minimum": 0
              }
            }
          },
          "versions": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "current_version": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "stale": {
            "type": "boolean"
          },
          "permissions": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "read",
              "quote",
              "can_edit",
              "can_create_job",
              "can_select",
              "can_lock"
            ],
            "properties": {
              "read": {
                "type": "boolean"
              },
              "quote": {
                "type": "boolean"
              },
              "can_edit": {
                "type": "boolean"
              },
              "can_create_job": {
                "type": "boolean"
              },
              "can_select": {
                "type": "boolean"
              },
              "can_lock": {
                "type": "boolean"
              }
            }
          },
          "readiness": {
            "type": "object"
          },
          "features": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "ui_enabled",
              "mutations_enabled",
              "batch_enabled"
            ],
            "properties": {
              "ui_enabled": {
                "type": "boolean"
              },
              "mutations_enabled": {
                "type": "boolean"
              },
              "batch_enabled": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "ShortDramaLipsyncQuoteRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "project_id",
          "shot_id",
          "expected_revision",
          "expected_input_hash",
          "provider",
          "profile",
          "face_target",
          "idempotency_key"
        ],
        "properties": {
          "project_id": {
            "type": "string",
            "minLength": 1
          },
          "shot_id": {
            "type": "string",
            "minLength": 1
          },
          "expected_revision": {
            "type": "integer",
            "minimum": 1
          },
          "expected_input_hash": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          },
          "provider": {
            "type": "string",
            "minLength": 1
          },
          "profile": {
            "type": "string",
            "minLength": 1
          },
          "face_target": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FaceTarget"
              }
            ],
            "description": "前端显式选择的镜头内人物目标；报价时长仅统计该目标的可见对白区间。"
          },
          "idempotency_key": {
            "type": "string",
            "minLength": 1
          }
        }
      },
      "ShortDramaLipsyncQuote": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "quote_id",
          "business_key",
          "quote_revision",
          "status",
          "quote_mode",
          "chargeable",
          "provider",
          "provider_capability_version",
          "profile",
          "pricing_version",
          "duration_ms",
          "actual_duration_ms",
          "billable_duration_ms",
          "media_spec",
          "cost",
          "input_hash",
          "expires_at",
          "replayed"
        ],
        "properties": {
          "quote_id": {
            "type": "string",
            "format": "uuid"
          },
          "business_key": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          },
          "quote_revision": {
            "type": "integer",
            "minimum": 1
          },
          "status": {
            "type": "string",
            "enum": [
              "issued"
            ]
          },
          "quote_mode": {
            "type": "string",
            "enum": [
              "simulation",
              "paid"
            ]
          },
          "chargeable": {
            "type": "boolean"
          },
          "provider": {
            "type": "string"
          },
          "provider_capability_version": {
            "type": "string"
          },
          "profile": {
            "type": "string"
          },
          "pricing_version": {
            "type": "string"
          },
          "duration_ms": {
            "type": "integer",
            "minimum": 1,
            "description": "所选 face_target 的去重可见对白区间总时长。"
          },
          "actual_duration_ms": {
            "type": "integer",
            "minimum": 1
          },
          "billable_duration_ms": {
            "type": "integer",
            "minimum": 1
          },
          "media_spec": {
            "type": "object"
          },
          "cost": {
            "type": "object",
            "required": [
              "points",
              "currency",
              "external_estimate",
              "actual_duration_ms",
              "billable_duration_ms",
              "breakdown"
            ],
            "properties": {
              "points": {
                "type": "integer",
                "minimum": 0
              },
              "currency": {
                "type": "string"
              },
              "external_estimate": {
                "type": "number",
                "minimum": 0
              },
              "actual_duration_ms": {
                "type": "integer",
                "minimum": 1
              },
              "billable_duration_ms": {
                "type": "integer",
                "minimum": 1
              },
              "breakdown": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          },
          "input_hash": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          },
          "expires_at": {
            "type": "integer"
          },
          "replayed": {
            "type": "boolean"
          }
        }
      },
      "ShortDramaLipsyncJobRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "project_id",
          "shot_id",
          "quote_id",
          "expected_input_hash"
        ],
        "properties": {
          "project_id": {
            "type": "string",
            "minLength": 1
          },
          "shot_id": {
            "type": "string",
            "minLength": 1
          },
          "quote_id": {
            "type": "string",
            "format": "uuid"
          },
          "expected_input_hash": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          }
        }
      },
      "ShortDramaLipsyncJob": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "id",
          "attempt_id",
          "project_id",
          "shot_id",
          "provider",
          "state",
          "attempt_state",
          "cost",
          "progress",
          "result",
          "error",
          "replayed"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "attempt_id": {
            "type": "string",
            "format": "uuid"
          },
          "project_id": {
            "type": "string"
          },
          "shot_id": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "provider_job_id": {
            "type": "string",
            "nullable": true
          },
          "state": {
            "type": "string",
            "enum": [
              "prepared",
              "queued",
              "running",
              "succeeded",
              "failed",
              "cancel_pending",
              "cancelled",
              "manual_review"
            ]
          },
          "attempt_state": {
            "type": "string",
            "enum": [
              "accepted",
              "charged",
              "linked",
              "settled",
              "failed",
              "refund_pending",
              "refunded",
              "manual_review"
            ]
          },
          "cost": {
            "type": "integer",
            "minimum": 0
          },
          "points_left": {
            "type": "integer",
            "nullable": true
          },
          "progress": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "result": {
            "type": "object"
          },
          "error": {
            "type": "object"
          },
          "terminal": {
            "type": "object"
          },
          "replayed": {
            "type": "boolean"
          }
        }
      },
      "ShortDramaLipsyncSpeakerUpdate": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "project_id",
          "revision",
          "timeline_revision",
          "changes"
        ],
        "properties": {
          "project_id": {
            "type": "string",
            "minLength": 1
          },
          "revision": {
            "type": "integer",
            "minimum": 1
          },
          "timeline_revision": {
            "type": "integer",
            "minimum": 1
          },
          "changes": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "object",
              "required": [
                "id",
                "start_ms",
                "end_ms",
                "character_key",
                "speaking_mode",
                "face_target"
              ],
              "properties": {
                "id": {
                  "type": "string"
                },
                "start_ms": {
                  "type": "integer",
                  "minimum": 0
                },
                "end_ms": {
                  "type": "integer",
                  "minimum": 1
                },
                "character_key": {
                  "type": "string"
                },
                "speaking_mode": {
                  "type": "string",
                  "enum": [
                    "visible",
                    "offscreen",
                    "silent"
                  ]
                },
                "face_target": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "ShortDramaLipsyncVersionMutation": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "project_id",
          "expected_revision",
          "expected_input_hash",
          "expected_pointer_revision"
        ],
        "properties": {
          "project_id": {
            "type": "string",
            "minLength": 1
          },
          "expected_revision": {
            "type": "integer",
            "minimum": 1
          },
          "expected_input_hash": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          },
          "expected_pointer_revision": {
            "type": "integer",
            "minimum": 0
          },
          "version_id": {
            "type": "string"
          }
        }
      },
      "ShortDramaFaceAnalysisRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "project_id",
          "shot_id"
        ],
        "properties": {
          "project_id": {
            "type": "string",
            "minLength": 1
          },
          "shot_id": {
            "type": "string",
            "minLength": 1
          },
          "character_references": {
            "type": "array",
            "minItems": 1,
            "description": "仅声明当前镜头角色；参考资产由服务端从项目内已锁定角色版本解析。客户端资产 ID 必须为空。",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "character_key"
              ],
              "properties": {
                "character_key": {
                  "type": "string",
                  "minLength": 1
                },
                "reference_asset_ids": {
                  "type": "array",
                  "maxItems": 0,
                  "deprecated": true,
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "params": {
            "type": "object"
          }
        }
      },
      "ShortDramaFaceAnalysis": {
        "type": "object",
        "required": [
          "id",
          "contract_version",
          "project_id",
          "shot_id",
          "input_hash",
          "result_hash",
          "status",
          "result",
          "manual_confirmation_required",
          "can_create_paid_job"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "contract_version": {
            "type": "string",
            "enum": [
              "short-drama-lipsync-face-analysis-v2"
            ]
          },
          "project_id": {
            "type": "string"
          },
          "shot_id": {
            "type": "string"
          },
          "input_hash": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          },
          "result_hash": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          },
          "status": {
            "type": "string",
            "enum": [
              "proposed",
              "manual_review",
              "failed"
            ]
          },
          "result": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "detections",
              "tracks",
              "matches",
              "proposals",
              "limitations"
            ],
            "properties": {
              "detections": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "tracks": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "matches": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "proposals": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "limitations": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "description": "v2 严格结果：只含检测框、轨迹、分数和候选，不含未知字段或原始人脸向量"
          },
          "manual_confirmation_required": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "can_create_paid_job": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "reused": {
            "type": "boolean"
          }
[...]
