{
  "openapi": "3.0.3",
  "info": {
    "title": "黄雀 AI · 后端接口总表",
    "version": "2.0.0",
    "description": "黄雀主站全部自有后端接口(认证/作图/文案/配音/视频/采集获客/下载/任务)。\n\n**认证**:除登录和健康检查外,均需 `Authorization: Bearer <token>`(登录拿)。点右上 Authorize 填 token 即可 Try it。\n\n**异步任务**:作图/文案/配音/视频/采集/获客 都返回 `job_id`,再轮询 `GET /api/gen/job/{id}` 取结果。\n\n**点数**:生成类接口预扣点数(见各接口说明),任务失败自动退点;点数不足返回 402。\n\n外部 TikHub 接口见另一份 spec(右上切换)。"
  },
  "servers": [{ "url": "https://huangquechuanmei.com", "description": "线上(nginx 按路径路由到各后端)" }],
  "tags": [
    { "name": "认证", "description": "登录 / 用户信息 / 点数(auth 8095)" },
    { "name": "作图", "description": "gpt-image + nano banana(content 8096 / imggen 8101)" },
    { "name": "文案", "description": "AI 文案 / 分镜脚本(content 8096)" },
    { "name": "短剧策划", "description": "短剧项目、策划应用和阶段确认(content 8096)" },
    { "name": "配音音色", "description": "TTS 配音 + 个人音色克隆(content 8096)" },
    { "name": "视频", "description": "HeyGen 数字人视频(content 8096)" },
    { "name": "采集获客", "description": "内容爬取 + 关键词获客(leadgen 8100)" },
    { "name": "下载", "description": "无水印视频下载(dl 8097)" },
    { "name": "任务/历史/文件", "description": "异步任务轮询、生成历史、文件下载" },
    { "name": "健康", "description": "各服务健康检查" }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer", "description": "登录 /api/auth/login 拿到的 token" }
    },
    "schemas": {
      "JobAccepted": { "type": "object", "description": "异步任务受理", "properties": { "job_id": { "type": "integer" }, "cost": { "type": "integer", "description": "本次扣的点数" }, "points_left": { "type": "integer" } } },
      "JobStatus": { "type": "object", "properties": { "id": { "type": "integer" }, "kind": { "type": "string" }, "status": { "type": "string", "enum": ["pending", "running", "done", "error"] }, "result": { "description": "成功时结果；mode=short_drama 的 copy job 使用 ShortDramaPlanningResult。其他任务使用不带该 mode 的领域结果对象。", "oneOf": [{ "$ref": "#/components/schemas/ShortDramaPlanningResult" }, { "type": "object", "not": { "required": ["mode"], "properties": { "mode": { "enum": ["short_drama"] } } } }] }, "error": { "type": "string" }, "created_at": { "type": "integer" }, "updated_at": { "type": "integer" } } },
      "User": { "type": "object", "properties": { "username": { "type": "string" }, "name": { "type": "string" }, "points": { "type": "integer" }, "role": { "type": "string" }, "must_change": { "type": "boolean" } } },
      "ShortDramaDialogueLine": {
        "type": "object", "required": ["id", "character_key", "text"], "additionalProperties": false,
        "properties": { "id": { "type": "string", "maxLength": 80 }, "character_key": { "type": "string", "maxLength": 80 }, "text": { "type": "string", "maxLength": 4000 } }
      },
      "ShortDramaCharacter": {
        "description": "cinematic_avatar 的 avatar_id 必须引用当前用户本人拥有、未删除且可用的电影级数字人；ai_character 不要求 avatar_id。",
        "type": "object", "required": ["character_key", "name", "identity_text", "personality", "source_type", "appearance_prompt", "wardrobe_prompt", "voice_settings"],
        "oneOf": [
          { "required": ["source_type"], "properties": { "source_type": { "enum": ["ai_character"] }, "avatar_id": { "type": "string", "nullable": true } } },
          { "required": ["source_type", "avatar_id"], "properties": { "source_type": { "enum": ["cinematic_avatar"] }, "avatar_id": { "type": "string", "minLength": 1 } } }
        ],
        "properties": {
          "id": { "type": "string", "readOnly": true }, "project_id": { "type": "string", "readOnly": true },
          "character_key": { "type": "string", "maxLength": 80 }, "name": { "type": "string", "maxLength": 80 },
          "identity_text": { "type": "string", "maxLength": 2000 }, "personality": { "type": "string", "maxLength": 2000 },
          "source_type": { "type": "string", "enum": ["cinematic_avatar", "ai_character"] }, "avatar_id": { "type": "string", "nullable": true },
          "appearance_prompt": { "type": "string", "maxLength": 4000 }, "wardrobe_prompt": { "type": "string", "maxLength": 4000 },
          "voice_key": { "type": "string", "nullable": true, "maxLength": 80 }, "voice_settings": { "type": "object", "additionalProperties": true },
          "sort_order": { "type": "integer", "readOnly": true }
        }
      },
      "ShortDramaScriptVersion": {
        "type": "object", "required": ["title", "logline", "hook", "conflict_text", "turn_text", "ending", "dialogue_lines"],
        "properties": {
          "id": { "type": "string", "readOnly": true }, "project_id": { "type": "string", "readOnly": true }, "version": { "type": "integer", "readOnly": true, "minimum": 1 },
          "title": { "type": "string", "maxLength": 80 }, "logline": { "type": "string", "maxLength": 4000 }, "hook": { "type": "string", "maxLength": 4000 },
          "conflict_text": { "type": "string", "maxLength": 4000 }, "turn_text": { "type": "string", "maxLength": 4000 }, "ending": { "type": "string", "maxLength": 4000 },
          "dialogue_lines": { "type": "array", "items": { "$ref": "#/components/schemas/ShortDramaDialogueLine" } }, "created_at": { "type": "integer", "readOnly": true }
        }
      },
      "ShortDramaShot": {
        "type": "object", "required": ["shot_key", "duration", "scene_description", "camera_description", "character_keys", "dialogue_line_ids", "image_prompt", "video_prompt"],
        "properties": {
          "id": { "type": "string", "readOnly": true }, "project_id": { "type": "string", "readOnly": true }, "script_version": { "type": "integer", "readOnly": true },
          "shot_key": { "type": "string", "maxLength": 80 }, "sort_order": { "type": "integer", "readOnly": true }, "duration": { "type": "integer", "enum": [5, 10] },
          "scene_description": { "type": "string", "maxLength": 4000 }, "camera_description": { "type": "string", "maxLength": 4000 },
          "character_keys": { "type": "array", "uniqueItems": true, "items": { "type": "string" } }, "dialogue_line_ids": { "type": "array", "uniqueItems": true, "items": { "type": "string" } },
          "image_prompt": { "type": "string", "maxLength": 8000 }, "video_prompt": { "type": "string", "maxLength": 8000 }
        }
      },
      "ShortDramaProject": {
        "type": "object", "required": ["id", "title", "synopsis", "ratio", "target_duration", "shot_count", "visual_style", "target_platform", "point_budget", "spent_points", "stage", "revision", "characters", "script_versions", "shots"],
        "properties": {
          "id": { "type": "string", "format": "uuid" }, "title": { "type": "string", "maxLength": 80 }, "synopsis": { "type": "string", "minLength": 8, "maxLength": 4000 },
          "ratio": { "type": "string", "enum": ["9:16", "16:9"] }, "target_duration": { "type": "integer", "enum": [30, 45, 60] }, "shot_count": { "type": "integer", "minimum": 6, "maximum": 10 },
          "visual_style": { "type": "string", "maxLength": 80, "default": "电影写实" }, "target_platform": { "type": "string", "maxLength": 80, "default": "抖音" },
          "point_budget": { "type": "integer", "minimum": 0 }, "spent_points": { "type": "integer", "minimum": 0, "readOnly": true },
          "stage": { "type": "string", "readOnly": true, "enum": ["draft", "characters_review", "script_review", "storyboard_review", "stills_review"] },
          "revision": { "type": "integer", "readOnly": true, "minimum": 1 }, "created_at": { "type": "integer", "readOnly": true }, "updated_at": { "type": "integer", "readOnly": true },
          "characters": { "type": "array", "items": { "$ref": "#/components/schemas/ShortDramaCharacter" } },
          "script_versions": { "type": "array", "items": { "$ref": "#/components/schemas/ShortDramaScriptVersion" } },
          "shots": { "type": "array", "items": { "$ref": "#/components/schemas/ShortDramaShot" } }
        }
      },
      "ShortDramaPlanningRequest": {
        "type": "object", "required": ["format", "project_id", "project_revision", "prompt", "dur", "ratio", "shot_count"], "additionalProperties": false,
        "properties": {
          "project_id": { "type": "string", "format": "uuid" }, "project_revision": { "type": "integer", "minimum": 1 },
          "format": { "type": "string", "enum": ["short_drama"] }, "prompt": { "type": "string", "minLength": 1, "maxLength": 4000 },
          "dur": { "type": "string", "enum": ["30s", "45s", "60s"] }, "ratio": { "type": "string", "enum": ["9:16", "16:9"] },
          "shot_count": { "type": "integer", "minimum": 6, "maximum": 10 }, "style": { "type": "string", "maxLength": 80 }, "platform": { "type": "string", "maxLength": 80 }
        }
      },
      "ShortDramaPlanningResult": {
        "type": "object", "required": ["type", "mode", "project_id", "project_revision", "settings", "plan", "prompt", "dur", "ratio", "shot_count"], "additionalProperties": false,
        "properties": {
          "type": { "type": "string", "enum": ["copy"] }, "mode": { "type": "string", "enum": ["short_drama"] },
          "project_id": { "type": "string", "format": "uuid" }, "project_revision": { "type": "integer", "minimum": 1 },
          "settings": { "type": "object", "required": ["ratio", "target_duration", "shot_count"], "additionalProperties": false, "properties": { "ratio": { "type": "string", "enum": ["9:16", "16:9"] }, "target_duration": { "type": "integer", "enum": [30, 45, 60] }, "shot_count": { "type": "integer", "minimum": 6, "maximum": 10 } } },
          "prompt": { "type": "string" }, "dur": { "type": "string", "enum": ["30s", "45s", "60s"] }, "ratio": { "type": "string", "enum": ["9:16", "16:9"] },
          "shot_count": { "type": "integer", "minimum": 6, "maximum": 10 },
          "plan": {
            "type": "object", "required": ["title", "logline", "characters", "script", "shots"], "additionalProperties": false,
            "properties": {
              "title": { "type": "string" }, "logline": { "type": "string" },
              "characters": { "type": "array", "items": {
                "type": "object", "required": ["key", "name", "identity", "identity_text", "personality", "appearance_prompt", "wardrobe_prompt", "source_type", "voice_key", "voice_settings"], "additionalProperties": false,
                "properties": {
                  "key": { "type": "string" }, "name": { "type": "string" }, "identity": { "type": "string" }, "identity_text": { "type": "string" }, "personality": { "type": "string" },
                  "appearance_prompt": { "type": "string" }, "wardrobe_prompt": { "type": "string" }, "source_type": { "type": "string", "enum": ["cinematic_avatar", "ai_character"] },
                  "voice_key": { "type": "string", "nullable": true }, "voice_settings": { "type": "object", "additionalProperties": true }
                }
              } },
              "script": {
                "type": "object", "required": ["title", "logline", "hook", "conflict", "conflict_text", "turn", "turn_text", "ending", "dialogue_lines"], "additionalProperties": false,
                "properties": {
                  "title": { "type": "string" }, "logline": { "type": "string" }, "hook": { "type": "string" }, "conflict": { "type": "string" },
                  "conflict_text": { "type": "string" }, "turn": { "type": "string" }, "turn_text": { "type": "string" }, "ending": { "type": "string" },
                  "dialogue_lines": { "type": "array", "items": { "$ref": "#/components/schemas/ShortDramaDialogueLine" } }
                }
              },
              "shots": { "type": "array", "minItems": 6, "maxItems": 10, "items": {
                "type": "object", "required": ["key", "duration", "scene_description", "camera_description", "character_keys", "dialogue_line_ids", "image_prompt", "video_prompt"], "additionalProperties": false,
                "properties": {
                  "key": { "type": "string" }, "duration": { "type": "integer", "enum": [5, 10] }, "scene_description": { "type": "string" }, "camera_description": { "type": "string" },
                  "character_keys": { "type": "array", "uniqueItems": true, "items": { "type": "string" } }, "dialogue_line_ids": { "type": "array", "uniqueItems": true, "items": { "type": "string" } },
                  "image_prompt": { "type": "string" }, "video_prompt": { "type": "string" }
                }
              } }
            }
          }
        }
      },
      "RevisionConflict": {
        "type": "object", "required": ["detail", "code"], "properties": {
          "detail": { "type": "string" }, "code": { "type": "string", "enum": ["revision_conflict", "job_already_applied"] }
        }
      },
      "Error": { "type": "object", "properties": { "detail": { "type": "string" } } }
    }
  },
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/api/auth/login": {
      "post": {
        "tags": ["认证"], "summary": "登录(拿 token)", "security": [],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["username", "password"], "properties": { "username": { "type": "string", "example": "fang" }, "password": { "type": "string" } } } } } },
        "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "type": "object", "properties": { "token": { "type": "string" }, "user": { "$ref": "#/components/schemas/User" } } } } } }, "401": { "description": "账号或密码错误", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } } }
      }
    },
    "/api/auth/logout": {
      "post": { "tags": ["认证"], "summary": "登出(撤销 token)", "responses": { "200": { "description": "OK" } } }
    },
    "/api/auth/change_password": {
      "post": {
        "tags": ["认证"], "summary": "改密码(需当前密码，成功后旧 token 全部失效)",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["old_password", "new_password"], "properties": { "old_password": { "type": "string", "description": "当前密码" }, "new_password": { "type": "string", "description": "至少 6 位" } } } } } },
        "responses": { "200": { "description": "OK，当前用户所有已签发 token 失效，需要重新登录" }, "400": { "description": "当前密码错误 / 新密码太短" }, "401": { "description": "未登录" } }
      }
    },
    "/api/auth/me": {
      "get": { "tags": ["认证"], "summary": "当前用户信息 / 点数", "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "type": "object", "properties": { "user": { "$ref": "#/components/schemas/User" } } } } } }, "401": { "description": "未登录" } } }
    },
    "/api/gen/short-drama/planning-quote": {
      "get": {
        "tags": ["短剧策划"], "summary": "读取当前短剧策划价格", "description": "Free / no points. 认证后从服务端点数域实时读取 format=short_drama 的 copy 价格；客户端必须先取得本报价并用精确 cost 请求确认，确认后才可提交付费 copy job。",
        "responses": {
          "200": { "description": "当前服务端报价；本请求不扣点", "content": { "application/json": { "schema": { "type": "object", "required": ["cost"], "additionalProperties": false, "properties": { "cost": { "type": "integer", "minimum": 0 } } } } } },
          "401": { "description": "未登录", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "403": { "description": "账号必须先修改初始密码", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/gen/short-drama/planning-job": {
      "get": {
        "tags": ["短剧策划"], "summary": "恢复当前项目尚未应用的短剧策划任务", "description": "Free / no points. 仅返回当前用户本人 draft 项目中，与当前策划参数快照一致且尚未应用的 pending、running 或 done 付费任务，供冲突或刷新后恢复，避免重复扣点。",
        "parameters": [{ "in": "query", "name": "project_id", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "responses": {
          "200": { "description": "可恢复任务；没有时 job_id 为 null", "content": { "application/json": { "schema": { "type": "object", "required": ["job_id"], "additionalProperties": false, "properties": { "job_id": { "type": "integer", "nullable": true }, "cost": { "type": "integer", "minimum": 0 }, "status": { "type": "string", "enum": ["pending", "running", "done"] }, "project_revision": { "type": "integer", "minimum": 1 } } } } } },
          "400": { "description": "缺少或无效的 project_id" }, "401": { "description": "未登录" }, "403": { "description": "账号必须先修改初始密码" }, "404": { "description": "项目不存在或不属于当前用户" }
        }
      }
    },
    "/api/gen/short-drama/projects": {
      "get": {
        "tags": ["短剧策划"], "summary": "列出当前用户的短剧项目", "description": "Free / no points. 仅返回 Bearer 用户本人创建且未删除的项目。",
        "responses": {
          "200": { "description": "项目列表", "content": { "application/json": { "schema": { "type": "object", "required": ["items"], "properties": { "items": { "type": "array", "items": { "$ref": "#/components/schemas/ShortDramaProject" } } } } } } },
          "401": { "description": "未登录", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "403": { "description": "账号必须先修改初始密码", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      },
      "post": {
        "tags": ["短剧策划"], "summary": "创建短剧项目", "description": "Free / no points. 创建 draft 项目；不会创建生成任务。",
        "requestBody": { "required": true, "content": { "application/json": { "schema": {
          "type": "object", "required": ["title", "synopsis", "ratio", "target_duration", "shot_count"], "additionalProperties": false,
          "properties": {
            "title": { "type": "string", "minLength": 1, "maxLength": 80 }, "synopsis": { "type": "string", "minLength": 8, "maxLength": 4000 },
            "ratio": { "type": "string", "enum": ["9:16", "16:9"] }, "target_duration": { "type": "integer", "enum": [30, 45, 60] },
            "shot_count": { "type": "integer", "minimum": 6, "maximum": 10 }, "visual_style": { "type": "string", "maxLength": 80, "default": "电影写实" },
            "target_platform": { "type": "string", "maxLength": 80, "default": "抖音" }, "point_budget": { "type": "integer", "minimum": 0, "default": 0 }
          }
        } } } },
        "responses": {
          "200": { "description": "已创建", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ShortDramaProject" } } } },
          "400": { "description": "字段、类型或取值无效", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "401": { "description": "未登录；认证先于 JSON 解析", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "403": { "description": "账号必须先修改初始密码；检查先于 JSON 解析", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/gen/short-drama/project": {
      "get": {
        "tags": ["短剧策划"], "summary": "读取短剧项目详情", "description": "Free / no points. 详情严格按创建者隔离；非创建者与不存在的 ID 均返回相同的 404，不提供 ACL 或共享详情读取。",
        "parameters": [{ "name": "id", "in": "query", "required": true, "schema": { "type": "string" }, "description": "短剧项目 UUID" }],
        "responses": {
          "200": { "description": "项目详情", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ShortDramaProject" } } } },
          "400": { "description": "缺少项目 ID", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "401": { "description": "未登录", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "403": { "description": "账号必须先修改初始密码", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "404": { "description": "项目不存在或当前用户不是创建者（owner-only）", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      },
      "put": {
        "tags": ["短剧策划"], "summary": "保存项目设置或一个审核内容分区", "description": "Free / no points. 所有变体必须带当前 revision。设置仅在 draft 可由前端编辑；内容变体每次严格只允许 characters、script、shots 之一，并依次限定在 characters_review、script_review、storyboard_review 阶段。script 保存会追加新版本。成功后 revision 加 1。",
        "parameters": [{ "name": "id", "in": "query", "required": true, "schema": { "type": "string" }, "description": "短剧项目 UUID" }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "oneOf": [
          {
            "type": "object", "required": ["revision"], "additionalProperties": false,
            "anyOf": [
              { "required": ["title"] }, { "required": ["synopsis"] }, { "required": ["ratio"] }, { "required": ["target_duration"] },
              { "required": ["shot_count"] }, { "required": ["visual_style"] }, { "required": ["target_platform"] }, { "required": ["point_budget"] }
            ],
            "properties": {
              "revision": { "type": "integer", "minimum": 1 }, "title": { "type": "string", "minLength": 1, "maxLength": 80 },
              "synopsis": { "type": "string", "minLength": 8, "maxLength": 4000 }, "ratio": { "type": "string", "enum": ["9:16", "16:9"] },
              "target_duration": { "type": "integer", "enum": [30, 45, 60] }, "shot_count": { "type": "integer", "minimum": 6, "maximum": 10 },
              "visual_style": { "type": "string", "maxLength": 80 }, "target_platform": { "type": "string", "maxLength": 80 }, "point_budget": { "type": "integer", "minimum": 0 }
            }
          },
          {
            "type": "object", "required": ["revision", "characters"], "additionalProperties": false,
            "properties": { "revision": { "type": "integer", "minimum": 1 }, "characters": { "type": "array", "minItems": 1, "items": { "$ref": "#/components/schemas/ShortDramaCharacter" } } }
          },
          {
            "type": "object", "required": ["revision", "script"], "additionalProperties": false,
            "properties": { "revision": { "type": "integer", "minimum": 1 }, "script": { "$ref": "#/components/schemas/ShortDramaScriptVersion" } }
          },
          {
            "type": "object", "required": ["revision", "shots"], "additionalProperties": false,
            "properties": { "revision": { "type": "integer", "minimum": 1 }, "shots": { "type": "array", "minItems": 6, "maxItems": 10, "items": { "$ref": "#/components/schemas/ShortDramaShot" } } }
          }
        ] } } } },
        "responses": {
          "200": { "description": "已保存且 revision 加 1；不扣点", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ShortDramaProject" } } } },
          "400": { "description": "字段无效、混合多个内容分区或当前阶段不可编辑", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "401": { "description": "未登录；认证先于 JSON 解析", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "403": { "description": "账号必须先修改初始密码；检查先于 JSON 解析", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "404": { "description": "项目不存在或当前用户不是创建者（owner-only）", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "409": { "description": "revision_conflict：提交的 revision 已过期，须刷新后重试", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RevisionConflict" } } } }
        }
      }
    },
    "/api/gen/short-drama/apply-plan": {
      "post": {
        "tags": ["短剧策划"], "summary": "把已完成的短剧策划任务应用到项目", "description": "应用本身不再次扣点；只接受当前用户本人已完成且 mode=short_drama 的 copy job。服务端校验 job 输入、结果、project_id、提交时 revision 及策划参数快照的绑定关系；项目 spent_points 增加该 job 在服务端记录的实际 cost，不能由客户端指定。",
        "requestBody": { "required": true, "content": { "application/json": { "schema": {
          "type": "object", "required": ["project_id", "revision", "job_id"], "additionalProperties": false,
          "properties": { "project_id": { "type": "string" }, "revision": { "type": "integer", "minimum": 1 }, "job_id": { "type": "integer", "minimum": 1 } }
        } } } },
        "responses": {
          "200": { "description": "策划已应用，进入 characters_review", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ShortDramaProject" } } } },
          "400": { "description": "任务未完成、类型/模式/结果无效或字段不正确", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "401": { "description": "未登录；认证先于 JSON 解析", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "403": { "description": "账号必须先修改初始密码；检查先于 JSON 解析", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "404": { "description": "项目或 copy job 不存在，或不属于当前用户", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "409": { "description": "revision_conflict，或 job_already_applied（同一 job 不能重复应用）", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RevisionConflict" } } } }
        }
      }
    },
    "/api/gen/short-drama/confirm": {
      "post": {
        "tags": ["短剧策划"], "summary": "确认当前短剧审核阶段", "description": "Free / no points. 按 characters_review → script_review → storyboard_review → stills_review 顺序确认；禁止跳级，成功后 revision 加 1。",
        "requestBody": { "required": true, "content": { "application/json": { "schema": {
          "type": "object", "required": ["project_id", "revision", "stage"], "additionalProperties": false,
          "properties": { "project_id": { "type": "string" }, "revision": { "type": "integer", "minimum": 1 }, "stage": { "type": "string", "enum": ["characters_review", "script_review", "storyboard_review"] } }
        } } } },
        "responses": {
          "200": { "description": "已进入下一阶段；不扣点", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ShortDramaProject" } } } },
          "400": { "description": "阶段无效或试图跳过当前阶段", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "401": { "description": "未登录；认证先于 JSON 解析", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "403": { "description": "账号必须先修改初始密码；检查先于 JSON 解析", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "404": { "description": "项目不存在或当前用户不是创建者（owner-only）", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "409": { "description": "revision_conflict：提交的 revision 已过期", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RevisionConflict" } } } }
        }
      }
    },
    "/api/gen/cinematic/quote": {
      "post": {
        "tags": ["视频"], "summary": "读取电影级视频完整请求的服务端报价", "description": "Free / no points. 使用与付费 cinematic 提交相同的完整 payload 做认证、归一化和校验，并返回服务端权威 cost；本请求不扣点且不创建任务。",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["cine_mode", "avatar_ids", "prompt", "ratio", "duration", "resolution"], "properties": { "cine_mode": { "type": "string" }, "avatar_ids": { "type": "array", "items": { "type": "integer" } }, "prompt": { "type": "string" }, "ratio": { "type": "string" }, "duration": { "type": "integer" }, "resolution": { "type": "string" }, "start_image": { "type": "string" }, "end_image": { "type": "string" }, "reference_images": { "type": "array", "items": { "type": "string" } } } } } } },
        "responses": {
          "200": { "description": "当前完整请求的权威报价；未扣点", "content": { "application/json": { "schema": { "type": "object", "required": ["cost"], "additionalProperties": false, "properties": { "cost": { "type": "integer", "minimum": 0 } } } } } },
          "400": { "description": "完整 payload 无效；未扣点且未创建任务" }, "401": { "description": "未登录；认证先于 JSON 解析" }
        }
      }
    },
    "/api/gen/image": {
      "post": {
        "tags": ["作图"], "summary": "gpt-image 作图(文生图/图生图/局部修改) · 12点",
        "description": "异步,返回 job_id。带 image 进图生图;再带 mask 进局部修改。",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["prompt"], "properties": { "prompt": { "type": "string" }, "ratio": { "type": "string", "enum": ["1:1", "9:16", "16:9", "3:4"], "default": "1:1" }, "image": { "type": "string", "description": "base64(无 data: 前缀),参考图→图生图" }, "mask": { "type": "string", "description": "base64 蒙版→局部修改" } } } } } },
        "responses": { "200": { "description": "受理", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/JobAccepted" } } } }, "402": { "description": "点数不足" } }
      }
    },
    "/api/gen/banana": {
      "post": {
        "tags": ["作图"], "summary": "nano banana 作图(NB2 10点 / Pro 18点)",
        "description": "异步,返回 job_id。带 image 进图生图。Pro=最强中文/4K。",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["prompt"], "properties": { "prompt": { "type": "string" }, "model": { "type": "string", "enum": ["nb2", "pro"], "default": "nb2", "description": "nb2=gemini-3.1-flash-image,pro=gemini-3-pro-image" }, "ratio": { "type": "string", "default": "1:1", "description": "1:1 / 2:3 / 3:2 / 3:4 / 4:3 / 4:5 / 5:4 / 9:16 / 16:9 / 21:9" }, "image": { "type": "string", "description": "base64 参考图(可选)" } } } } } },
        "responses": { "200": { "description": "受理", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/JobAccepted" } } } }, "402": { "description": "点数不足" } }
      }
    },
    "/api/gen/copy": {
      "post": {
        "tags": ["文案"], "summary": "AI 文案 / 分镜脚本 / 短剧策划 · 按服务端报价",
        "description": "付费异步任务。短剧客户端先调用认证的 planning-quote，以返回的精确 cost 弹窗确认，确认后才提交 format=short_drama。服务端在同一提交锁内、扣点和创建任务前，同步校验项目 owner、draft 阶段、精确 revision、策划参数快照以及项目预算；通过校验并受理后，模型输出解析或规划归一化失败属于异步 job error，并按任务失败规则退款。成功时轮询 job 得到绑定项目元数据的 ShortDramaPlanningResult，再由 owner 调用 apply-plan。项目创建、读取、保存和阶段确认均免费。",
        "x-job-result-schema": { "$ref": "#/components/schemas/ShortDramaPlanningResult" },
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "oneOf": [
          {
            "type": "object", "required": ["prompt"],
            "properties": {
              "prompt": { "type": "string", "description": "文案需求/选题" }, "ctype": { "type": "string", "default": "通用" },
              "format": { "type": "string", "not": { "enum": ["short_drama"] }, "description": "script 为普通分镜脚本；省略则为通用文案" },
              "style": { "type": "string", "example": "口播" }, "dur": { "type": "string", "example": "30s" },
              "platform": { "type": "string", "example": "抖音" }, "n": { "type": "integer", "minimum": 1, "maximum": 3, "default": 2 }
            }
          },
          { "$ref": "#/components/schemas/ShortDramaPlanningRequest" }
        ] } } } },
        "responses": {
          "200": { "description": "已受理；返回 job_id、此次实际扣除的 cost 和 points_left", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/JobAccepted" } } } },
          "400": { "description": "短剧项目、revision、参数快照或 budget（预算）无效；before deduction，未扣点且未创建任务" }, "401": { "description": "未登录" }, "402": { "description": "点数不足" }
        }
      }
    },
    "/api/gen/audio": {
      "post": {
        "tags": ["配音音色"], "summary": "TTS 配音 · 4点",
        "description": "异步。voice 可填预设(dapeng/zelong/paul)或个人 VIP 音色 key。",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["text"], "properties": { "text": { "type": "string", "description": "配音文案(最长1200字)" }, "voice": { "type": "string", "default": "dapeng" }, "speed": { "type": "number", "default": 1.0, "description": "0.5-2.0" }, "pitch": { "type": "number", "default": 0, "description": "-12~12" }, "volume": { "type": "number", "default": 0, "description": "-50~100" } } } } } },
        "responses": { "200": { "description": "受理", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/JobAccepted" } } } }, "402": { "description": "点数不足" } }
      }
    },
    "/api/gen/audio/voices": {
      "get": { "tags": ["配音音色"], "summary": "可用音色列表(公开预设+个人VIP)", "responses": { "200": { "description": "OK" } } }
    },
    "/api/gen/audio/assets": {
      "get": { "tags": ["配音音色"], "summary": "个人历史音频资产", "parameters": [{ "name": "limit", "in": "query", "schema": { "type": "integer", "default": 120 } }], "responses": { "200": { "description": "OK" } } }
    },
    "/api/gen/audio/slots": {
      "get": { "tags": ["配音音色"], "summary": "音色克隆槽位 + 训练状态", "responses": { "200": { "description": "OK" } } }
    },
    "/api/gen/audio/clone-status": {
      "get": { "tags": ["配音音色"], "summary": "查音色克隆训练状态", "parameters": [{ "name": "slot_id", "in": "query", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "OK · status=training/ready/failed" } } }
    },
    "/api/gen/audio/redeem-slot": {
      "post": { "tags": ["配音音色"], "summary": "兑换码领取音色克隆槽位", "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["code"], "properties": { "code": { "type": "string" } } } } } }, "responses": { "200": { "description": "OK" } } }
    },
    "/api/gen/audio/clone-vip": {
      "post": {
        "tags": ["配音音色"], "summary": "上传样音 → 触发音色克隆训练",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["slot_id", "audio"], "properties": { "slot_id": { "type": "string" }, "name": { "type": "string", "default": "我的VIP复制音色" }, "audio": { "type": "string", "description": "base64 样本音频" }, "audio_format": { "type": "string", "default": "mp3", "description": "mp3/wav/m4a/aac/ogg" } } } } } },
        "responses": { "200": { "description": "OK · 返回 voice(status=training,后续轮询 clone-status)" } }
      }
    },
    "/api/gen/video": {
      "post": {
        "tags": ["视频"], "summary": "HeyGen 数字人视频(图+音→视频)",
        "description": "异步。mode=text:文案+音色生配音;mode=audio:直接导入音频。image_data 与本人 avatar_id 二选一。",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "anyOf": [{ "required": ["image_data"] }, { "required": ["avatar_id"] }], "properties": { "mode": { "type": "string", "enum": ["text", "audio"], "default": "text" }, "image_data": { "type": "string", "description": "data:image/png;base64,... 人物形象图" }, "avatar_id": { "type": "integer", "description": "本人已保存的形象 ID" }, "text": { "type": "string", "description": "mode=text 必填" }, "voice": { "type": "string", "description": "mode=text 必填" }, "audio_data": { "type": "string", "description": "mode=audio 必填,data:audio/mp3;base64,..." }, "speed": { "type": "number", "default": 1.0 }, "pitch": { "type": "number", "default": 0 }, "volume": { "type": "number", "default": 0 }, "resolution": { "type": "string", "enum": ["720p", "1080p"], "default": "1080p" }, "ratio": { "type": "string", "enum": ["9:16", "16:9", "1:1", "4:5", "5:4"], "default": "9:16" }, "motion": { "type": "string", "enum": ["low", "medium", "high"], "default": "medium" } } } } } },
        "responses": { "200": { "description": "受理", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/JobAccepted" } } } } }
      }
    },
    "/api/gen/video/batch": {
      "post": {
        "tags": ["视频"], "summary": "一份文案 × 2-5 个形象批量生成口播视频",
        "description": "批量原子受理。每个形象创建独立 video 任务并独立失败退点；avatars 每项用 image_data 或本人 avatar_id 二选一。受单用户 active job 上限约束。",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["text", "voice", "avatars"], "properties": { "mode": { "type": "string", "enum": ["text"], "default": "text" }, "text": { "type": "string" }, "voice": { "type": "string" }, "avatars": { "type": "array", "minItems": 2, "maxItems": 5, "items": { "type": "object", "properties": { "image_data": { "type": "string" }, "avatar_id": { "type": "integer" }, "label": { "type": "string" } } } }, "resolution": { "type": "string", "enum": ["720p", "1080p"], "default": "1080p" }, "ratio": { "type": "string", "enum": ["9:16", "16:9", "1:1", "4:5", "5:4"], "default": "9:16" }, "motion": { "type": "string", "enum": ["low", "medium", "high"], "default": "medium" }, "subtitle": { "type": "boolean", "default": false } } } } } },
        "responses": { "200": { "description": "整批受理，返回 batch_id/job_ids/count/cost/points_left" }, "400": { "description": "形象数量、素材或公共参数不合法" }, "402": { "description": "点数不足" }, "429": { "description": "剩余任务位或队列容量不足，整批不受理" } }
      }
    },
    "/api/gen/video/assets": {
      "get": { "tags": ["视频"], "summary": "个人历史视频资产", "parameters": [{ "name": "limit", "in": "query", "schema": { "type": "integer", "default": 120 } }], "responses": { "200": { "description": "OK" } } }
    },
    "/api/gen/collect": {
      "post": {
        "tags": ["采集获客"], "summary": "单条视频/笔记采集(文案+评论+口播) · 3点起",
        "description": "异步。url 与 id 二选一。want 含 transcript 时 +3 点。",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "platform": { "type": "string", "enum": ["douyin", "xiaohongshu", "channels"], "default": "douyin" }, "url": { "type": "string", "description": "视频链接(与 id 二选一)" }, "id": { "type": "string" }, "note_type": { "type": "string", "default": "video" }, "want": { "type": "array", "items": { "type": "string" }, "default": ["copy", "comments"], "description": "copy/comments/transcript" }, "comment_count": { "type": "integer", "default": 20 } } } } } },
        "responses": { "200": { "description": "受理", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/JobAccepted" } } } }, "402": { "description": "点数不足" } }
      }
    },
    "/api/gen/leads": {
      "post": {
        "tags": ["采集获客"], "summary": "关键词获客(搜视频→扒评论→意图过滤→名单) · 6点起",
        "description": "异步。点数 = 6 + count×pages/4。视频号用 channels_targets 传 sph号/finder号/视频链接。",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["keyword"], "properties": { "keyword": { "type": "string", "example": "美业获客" }, "platforms": { "type": "array", "items": { "type": "string" }, "default": ["douyin"], "description": "douyin/xiaohongshu/channels" }, "count": { "type": "integer", "default": 12, "description": "每平台视频数 1-30" }, "pages": { "type": "integer", "default": 2, "description": "每视频评论页数 1-3" }, "channels_targets": { "type": "array", "items": { "type": "string" }, "description": "视频号目标:sph号/finder号/视频链接(仅 channels)" } } } } } },
        "responses": { "200": { "description": "受理", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/JobAccepted" } } } }, "402": { "description": "点数不足" } }
      }
    },
    "/api/gen/collect/search": {
      "get": {
        "tags": ["采集获客"], "summary": "即时搜视频(选片用,同步) · 1点",
        "parameters": [
          { "name": "keyword", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "platform", "in": "query", "schema": { "type": "string", "default": "douyin" } },
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } }
        ],
        "responses": { "200": { "description": "OK · {items, cost, points_left}" }, "402": { "description": "点数不足" } }
      }
    },
    "/api/gen/dl": {
      "get": {
        "tags": ["下载"], "summary": "无水印视频下载代理(流式 mp4)",
        "description": "需要 Bearer 登录态；url 必须是白名单 CDN 域名(防 SSRF)。",
        "parameters": [
          { "name": "url", "in": "query", "required": true, "schema": { "type": "string" }, "description": "视频 CDN 链接" },
          { "name": "name", "in": "query", "schema": { "type": "string", "default": "video" } }
        ],
        "responses": { "200": { "description": "video/mp4 二进制流" }, "401": { "description": "未登录" }, "400": { "description": "不支持的下载地址" }, "502": { "description": "下载失败(地址可能过期)" } }
      }
    },
    "/api/gen/job/{id}": {
      "get": {
        "tags": ["任务/历史/文件"], "summary": "轮询异步任务结果", "security": [],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }],
        "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/JobStatus" } } } } }
      }
    },
    "/api/gen/history": {
      "get": {
        "tags": ["任务/历史/文件"], "summary": "本人生成历史",
        "parameters": [
          { "name": "kind", "in": "query", "schema": { "type": "string", "enum": ["image", "copy", "audio", "video", "collect", "leads"], "default": "image" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 60 } }
        ],
        "responses": { "200": { "description": "OK · {items:[...]}" } }
      }
    },
    "/api/gen/file/{name}": {
      "get": {
        "tags": ["任务/历史/文件"], "summary": "下载生成的图片/音频/视频文件", "security": [],
        "description": "普通公开产物可直接读取；真人视频、参考图、个人音色试听等敏感文件必须携带 Bearer 登录态且只能由所属用户读取。",
        "parameters": [{ "name": "name", "in": "path", "required": true, "schema": { "type": "string" }, "description": "文件相对路径" }],
        "responses": { "200": { "description": "文件二进制流" }, "404": { "description": "不存在" } }
      }
    },
    "/api/auth/health": {
      "get": { "tags": ["健康"], "summary": "auth 服务健康(8095)", "security": [], "responses": { "200": { "description": "OK" } } }
    },
    "/api/gen/health": {
      "get": { "tags": ["健康"], "summary": "content 服务健康 + 能力清单(8096)", "security": [], "responses": { "200": { "description": "OK · caps/has_openai/has_tikhub" } } }
    },
    "/api/gen/leadgen/health": {
      "get": { "tags": ["健康"], "summary": "leadgen 服务健康(8100)", "security": [], "responses": { "200": { "description": "OK · caps=[collect,leads]" } } }
    },
    "/api/gen/banana/health": {
      "get": { "tags": ["健康"], "summary": "imggen 服务健康(8101)", "security": [], "responses": { "200": { "description": "OK · models/has_key" } } }
    }
  }
}
